.video-react {
    background: #fff;
}
.video-react .video-react-big-play-button {
    display: none !important;
}
.video-react .video-react-video {
    height: 100%;
    max-height: 100vh;
    width: 100%;
    max-width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.video-react.video-react-fluid {
    height: 100%;
}
.calling-modal-footer-smallhoz {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255,0.7);
    text-align:center;
    padding-bottom: 10px;
}
.calling-modal-footer-smallhoz > .group__customer__wait__text {
    margin-bottom: 0 !important;
}

.back-setting {
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    z-index: 8000;
}

.hide-room {
    display: none;
}

.background-avatar {
    background-size: cover !important;
}

.control__item__inner > h5 {
    min-height: 20px;
}

.ani {
    background-size: cover !important;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.ani > canvas {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.avatar-mainscreen {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.avatar-mainscreen > canvas {
    object-fit: cover;
    max-width: none;
    /* height: auto; */
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.sweet-alert {
    width: 100%;
    max-width: 31.25rem;
    padding: 1.875rem 4.0625rem 2.1875rem;
    background-color: #ffffff;
}

.sweet-alert > h2{
    font-weight: 200 !important;
    font-size: 1rem !important;
    line-height: 1.5rem;
    margin-bottom: 1.5625rem !important;
}

.thumb video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
}

.group__customer__wait__item__video .video-react {
    padding-bottom: 56% !important;
}

.video-react {
    padding: 0 !important;
}

/* ------------------- */
.pause {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed; 
    left: 0px; 
    right: 0px; 
    top: 0px; 
    bottom: 0px; 
    z-index: 9000; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    padding: 0.625em; 
    overflow: hidden auto;
    text-align: center;
}
.pause-text{
    display: flex; 
    overflow: hidden; 
    outline: none; 
    width: auto; 
    margin: auto; 
    text-align: center; 
    position: relative; 
    flex-direction: column; 
    justify-content: center; 
    max-width: 100%; 
    z-index: 9001; 
    color: #fff;
}

.b2b-modal__wraper .modal-md {
    max-width: 35.25rem;
}
/* 
.b2b-modal__wraper .modal-md .btn--md {
    max-width: 12.9375rem;
} */

.b2b-loader {
    cursor: wait;
    z-index: 99999;
    opacity: 1;
}

.group__item__thumb {
    cursor: pointer;
}

#roomFooter {
    transition: height 200ms linear;
}
.room .timerep__logo {
    position: fixed !important;
    right: 5px !important;
    bottom: 5px !important;
    -webkit-filter: drop-shadow(1px 1px 1px #000);
    filter: drop-shadow(1px 1px 1px #000);
}

.room-footer-hide {
    height: 0px;
}

.width--815 > p {
    text-align: center;
    padding: 0px  10px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3;
}

.group__customer--avatar--hoz {
    height: calc(100vh - 330px) !important;
}

.no--greating {
    height: calc(100vh - 50rem/16) !important;
}
.no--max--height {
    max-height: none;
}
.calling-modal-smallhoz {
    padding: 0;
}
.b2b-modal__container-c-smallhoz {
    padding: 0;
}

.pos-relative {
    position: relative;
}

.b2b-modal__choose--lf {
    margin: auto;
}

.control__item > .disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.btnMin,
.btnMax {
    position: fixed;
    top: 10px;
    right: 10px;
    transition: top 200ms linear, width 200ms linear, opacity 200ms linear;
    border-radius: 3.75rem;
    width: 3.75rem;
    height: 3.125rem;
    opacity: 0.5;
}

.btnMinMaxHide {
    top: -4rem;
}

.btnMin:hover {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 210px;
    background: rgba(0, 0, 0, 1);
    opacity: 0.7;
}
.btnMax:hover {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 110px;
    background: rgba(0, 0, 0, 1);
    opacity: 0.7;
}

.btnMin .control__face_on,
.btnMax .control__face_on {
    position: initial;
}

.btnMin .control__face_on .icon--zoom,
.btnMin .control__face_on .icon--zoom_out,
.btnMax .control__face_on .icon--zoom,
.btnMax .control__face_on .icon--zoom_out {
    width: 3.125rem;
    height: 3.125rem;
}

.btnMin > .minmax-text,
.btnMax > .minmax-text {
    opacity: 0;
    transition:  opacity 200ms linear 300ms;
}
.btnMin:hover > .minmax-text,
.btnMax:hover > .minmax-text{
    position:absolute;
    width: auto;
    height: auto;
    border-radius: unset;
    left: 3.1rem;
    top: 0.75rem;
    color: #fff;
    opacity: 1.0;
}

.group__web__inner > iframe {
    display: flex;
    margin: auto;
    border: none;
}

.finishcall-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(255,255,255,0.7);
    text-align: center;
}

.b2b-modal__container{
    border-radius: 7px;
}

@media (max-width: 768px) {
    .group__customer__head {
        /* max-height: 5rem;
        height: 5rem; */
        overflow: hidden;
    }
    .group__item--title {
        /* height: 2rem; */
        /* max-height: 2rem; */
        overflow: hidden;
    }
    .group__choose__button {
        z-index: 200;
    }
}

/* @media (max-width: 812px) {
    .group__customer__horizontal-list .group__customer--avatar {
        height: calc(100vh - 315rem/16);
    }
} */

@media (max-width: 1024px) {
    .avatar-mainscreen {
        height: 100%;
    }

    .timerep__logo {
        bottom: 5px;
        right: 5px;
        width: 10.25rem;
        height: auto;
    }
}

@media only screen and (max-width: 736px) and (orientation: landscape) {
    .video-react.video-react-fluid {
        height: 100vh;
    }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
    .group__customer__horizontal .group__customer__main {
        height: calc(100vh - 180rem/16);
    }
    .group__customer__wait__item__video .video-react {
        padding: 0 !important;
        height: 100vh;
    }
    .mb-sp--35 {
        margin-bottom: 0 !important;
    }
    .mb--5 {
        margin-bottom: 0 !important;
    }
    #bottomDiv .group__customer__main {
        height: calc(100vh - 150rem/16);
    }
    .group__customer__horizontal-list .group__customer--avatar {
        height: 100vh;
    }
}

@media only screen and (min-width: 813px) {
    .b2b-modal__container-c {
        padding: 2.3125rem 1.8125rem 1.5625rem;
    }
}

@media (min-width: 814px) and (max-width: 1024px) {
    .group__customer__grid .group__item {
        margin-right: 0 !important;
    }
    .pause-message {
        font-size: 2rem;
        line-height: 2.25rem;
    }
}

@media (min-width: 1025px) {
    .pause-message {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
}

@media (min-width: 768px) and (max-width: 813px) {
    .pause-message {
        font-size: 1.75rem;
        line-height: 2rem;
    }
}

@media (max-width: 767px) {
    .pause-message {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}

.avatarloader {
  z-index: 99999;
  opacity: 1;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.camera-check > video {
    width: 100%;
    height: 100%;
}