/* Fullscreen */
html:-moz-full-screen {
    background: #fff;
}
html:-webkit-full-screen {
    background: #fff;
}
html:-ms-fullscreen {
    background: #fff;
}
html:fullscreen {
    background: #fff;
}

/* ---- */
body {
    font-size: 16px;
    background:#3399ff;
    padding: 0;
    margin: 0;
    color:#4d4d4d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}
body:-ms-fullscreen { 
    overflow: auto;
}

iframe {
    display: none!important;
    z-index: -1 !important;
}

/* ======================================================================================== */
/* CONTROL */
input {
    font-size: 1rem;
    padding: 0.7rem;
    border: none;
    background: #f2f2f2;
    border-radius: 3px;
    color:#4d4d4d;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    outline: none;
}

button {
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    outline: none;
}

/* ======================================================================================== */
/* BUTTON */
.btn {
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    color:#4d4d4d;
    border-radius: 3px;
    border: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.btn:hover {
    cursor: pointer;
}

.btn-lg {
    padding: 0.5rem 0.5rem;
}

/* ---- */
.btn-default {
    background: #f2f2f2;
    color:#4d4d4d;
}
.btn-default:hover {
    background: #d9d9d9;
    color:#4d4d4d;
}

/* ---- */
.btn-green {
    background: #40c975;
    color:#fff;
}
.btn-green:hover {
    background: #2d9f59;
    color:#fff;
}

/* ---- */
.btn-blue {
    background: #4082c9;
    color:#fff;
}
.btn-blue:hover {
    background: #2d649f;
    color:#fff;
}

/* ---- */
.btn-red {
    background: #ff533d;
    color:#fff;
}
.btn-red:hover {
    background: #ff1e00;
    color:#fff;
}

/* ======================================================================================== */
/* CHECKBOX */
.cbx {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #B9B8C3;
    transition: all 0.2s ease;
}
.cbx span:first-child svg {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 6px;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #3399ff;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    transition-delay: 0.2s;
}
.cbx span:last-child {
    margin-left: 8px;
}
.cbx span:last-child:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #B9B8C3;
    transform-origin: 0 0;
    transform: scaleX(0);
}
.cbx:hover span:first-child {
    border-color: #3399ff;
}

.inp-cbx:checked + .cbx span:first-child {
    border-color: #3399ff;
    background: #3399ff;
    animation: check 0.6s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(2.2);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes check {
    50% {
        transform: scale(1.2);
    }
}


/* ======================================================================================== */
/* POPUP */
.b2b-modal {
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.b2b-modal-backdrop {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    background: rgba(0,0,0,0.5);
}

.b2b-modal-body {
    position:fixed;
    top: 50%;
    left: 50%;
    width:26rem;
    height:32rem;
    margin-left: -13rem;
    margin-top: -18rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

@media (max-width: 600px) {
    .b2b-modal-body{
        padding: 0.5rem;
    }
}
@media (max-height: 550px) {
    .b2b-modal-body{
        padding: 0.5rem;
        top: 0;
        left: 0;
        margin-left: 0;
        margin-top: 0;
        width:100%;
        height:100vh;
    }
}
@media (max-height: 500px) {
    .b2b-modal-body{
        padding: 0.5rem;
        top: 0;
        left: 0;
        margin-left: 0;
        margin-top: 0;
        width:100%;
        height:100vh;
    }
}


/* LAYOUT */
.form__row {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* ======================================================================================== */
/* LOGIN */
.login__page {
    position:fixed;
    top: 50%;
    left: 50%;
    width:26rem;
    height:auto;
    margin-left: -13rem;
    margin-top: -18rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.login__page input {
    width: 100%;
    background: rgba(232, 240, 254, 1);
}

.login__page button {
    width: 100%;
}

.label-error {
    color: #ff1e00;
}

.ripple-background {
    position: fixed;
    bottom: 0;
    z-index: -1;
}


.circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
}

.small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
}

.medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
}

.large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
    z-index: 0;
}

.xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
}

.xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
}

.shade1{
    opacity: 0.2;
}
.shade2{
    opacity: 0.5;
}

.shade3{
    opacity: 0.7;
}

.shade4{
    opacity: 0.8;
}

.shade5{
    opacity: 0.9;
}

@keyframes ripple{
    0%{
        transform: scale(0.8);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(0.8);
    }
}

@media (max-width: 490px) {
    .login__page {
        position:fixed;
        top: 50%;
        left: 0;
        width:100%;
        margin-left: 0;
        margin-right: 0;
        border: none;
        border-radius: 0;
        background-color: rgba(255,255,255,0.5);
    }

    .login__page input {
        background: rgba(232, 240, 254, 0.7);
    }
}
@media screen and (max-height: 600px) {
    .login__page {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: rgba(255,255,255,0.5);
    }

    .login__page input {
        background: rgba(232, 240, 254, 0.7);
    }
}

/* ======================================================================================== */
/* CUSTOMER MAINSCREEN */
.customer-mainscreen {
    background: #fff;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.cms-header-area {
    background: rgb(2,75,182);
    background: linear-gradient(30deg, rgba(2,75,182,1) 0%, rgba(41,186,163,1) 44%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(30deg, rgba(2,75,182,1) 0%, rgba(41,186,163,1) 44%, rgba(0,212,255,1) 100%);  
    width: 100%;
    height: 25rem;
}

.cms-header-circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25rem;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.cms-header-circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    animation: animate 20s linear infinite;
    bottom: -15rem;
    pointer-events: none;
}

.cms-header-circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.cms-header-circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 1s;
    animation-duration: 6s;
}

.cms-header-circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 3s;
}

.cms-header-circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 13s;
}

.cms-header-circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.cms-header-circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 2s;
}

.cms-header-circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 1s;
}

.cms-header-circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 1s;
    animation-duration: 10s;
}

.cms-header-circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 10s;
}

.cms-header-circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 6s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/* element */
.cms-greeting-msg {
    position:fixed;
    width: 100%;
    top: 10rem;
    color: #fff;
    font-size: 5rem;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.cms-select-msg {
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem 0;
    font-weight: bold;
}

.cms-group-list {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;  
}

.cms-col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    text-align: center;
}

.cms-item {
    background: #f5f5f5;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: auto;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.cms-item-active {
    background: #ccffeb;
    border: 1px solid #66ffc2;
}

.cms-item-img img {
    width: 7rem;
    height: 7rem;
    margin-top: 1.5rem;
    filter: grayscale(100%);
}

.cms-item-img-active img {
    width: 7rem;
    height: 7rem;
    margin-top: 1.5rem;
}

.cms-item-group-name {
    margin-top: 0.5rem;
    font-size: 2rem;
    word-break: break-all;
}

.cms-item-group-status-text {
    margin-top: 0.5rem;
    font-size: 1rem;
}

@media (max-width: 850px) {
    .cms-select-msg {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 700px) {
    .cms-select-msg {
        font-size: 1.5rem;
        text-align: center;
    }
    .cms-item {
        width: 7rem;
        height: 7rem;
    }

    .cms-item-img img,
    .cms-item-img-active img  {
        width: 5rem;
        height: 5rem;
        margin-top: 1rem;
    }

    .cms-item-group-name {
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }

    .cms-item-group-status-text {
        margin-top: 0.5rem;
        font-size: 1rem;
    }

    .cms-select-msg {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 530px) {
    .cms-select-msg {
        font-size: 1rem;
        text-align: center;
    }

    .cms-item {
        width: 5rem;
        height: 5rem;
    }

    .cms-item-img img,
    .cms-item-img-active img  {
        width: 3rem;
        height: 3rem;
        margin-top: 1rem;
    }

    .cms-item-group-name {
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }

    .cms-item-group-status-text {
        margin-top: 0.5rem;
        font-size: 1rem;
    }
}

@media (max-width: 430px) {
    .cms-item {
        width: 5rem;
        height: 5rem;
    }

    .cms-item-img img,
    .cms-item-img-active img {
        width: 3rem;
        height: 3rem;
        margin-top: 1rem;
    }

    .cms-item-group-name {
        margin-top: 0.5rem;
        font-size: 1rem;
    }

    .cms-item-group-status-text {
        margin-top: 0.5rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 350px) {
    .cms-item {
        width: 4rem;
        height: 4rem;
    }

    .cms-item-img img,
    .cms-item-img-active img  {
        width: 2.5rem;
        height: 2.5rem;
        margin-top: 0.7rem;
    }

    .cms-item-group-name {
        margin-top: 0.5rem;
        font-size: 0.9rem;
    }

    .cms-item-group-status-text {
        margin-top: 0.25rem;
        font-size: 0.7rem;
    }

    .cms-greeting-msg {
        top: 10rem;
        font-size: 4rem;
    }

    .cms-select-msg {
        font-size: 1rem !important;
    }
}

@media (max-width: 300px) {
    .cms-item {
        width: 4rem;
        height: 4rem;
    }

    .cms-item-img img,
    .cms-item-img-active img  {
        width: 2.5rem;
        height: 2.5rem;
        margin-top: 0.7rem;
    }

    .cms-item-group-name {
        margin-top: 0.5rem;
        font-size: 0.9rem;
    }

    .cms-item-group-status-text {
        margin-top: 0.25rem;
        font-size: 0.7rem;
    }

    .cms-greeting-msg {
        top: 10rem;
        font-size: 4rem;
    }

    .cms-select-msg {
        font-size: 0.7rem;
        text-align: center;
    }
}

@media screen and (max-height: 640px) {
    .cms-header-area {
        height: 15rem;
    }

    .cms-greeting-msg {
        top: 0.7rem;
        top: 5rem;
    }

    .cms-select-msg {
        font-size: 1rem;
        text-align: center;
    }
}

@media screen and (max-height: 550px) {
    .cms-header-area,
    .cms-header-circles {
        height: 7rem;
    }

    .cms-greeting-msg {
        top: 1rem;
    }

    .cms-select-msg {
        font-size: 1rem;
        text-align: center;
    }

    .cms-item {
        width: 5rem;
        height: 5rem;
    }

    .cms-item-img img,
    .cms-item-img-active img {
        width: 3rem;
        height: 3rem;
        margin-top: 1rem;
    }

    .cms-item-group-name {
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }

    .cms-item-group-status-text {
        margin-top: 0.5rem;
        font-size: 1rem;
    }
}

@media screen and (max-height: 500px) {
    .cms-header-area,
    .cms-header-circles {
        height: 7rem;
    }

    .cms-greeting-msg {
        top: 1rem;
    }

    .cms-select-msg {
        font-size: 1rem;
        text-align: center;
    }

    .cms-item {
        width: 5rem;
        height: 5rem;
    }

    .cms-item-img img,
    .cms-item-img-active img {
        width: 3rem;
        height: 3rem;
        margin-top: 1rem;
    }

    .cms-item-group-name {
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }

    .cms-item-group-status-text {
        margin-top: 0.5rem;
        font-size: 1rem;
    }
}

@media screen and (max-height: 350px) {
    .cms-header-area,
    .cms-header-circles {
        height: 4rem;
    }

    .cms-greeting-msg {
        top: 0.3rem;
        font-size: 3rem;
    }

    .cms-select-msg {
        font-size: 0.7rem;
        text-align: center;
    }

    .cms-item {
        width: 4rem;
        height: 4rem;
    }

    .cms-item-img img,
    .cms-item-img-active img {
        width: 2.7rem;
        height: 2.7rem;
        margin-top: 0.6rem;
    }

    .cms-item-group-name {
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }

    .cms-item-group-status-text {
        margin-top: 0.5rem;
        font-size: 1rem;
    }
}

@media screen and (max-height: 300px) {
    .cms-header-area,
    .cms-header-circles {
        height: 3rem;
    }

    .cms-greeting-msg {
        top: 0.3rem;
        font-size: 2rem;
    }

    .cms-select-msg {
        font-size: 0.7rem;
        text-align: center;
    }

    .cms-item {
        width: 4rem;
        height: 4rem;
    }

    .cms-item-img img,
    .cms-item-img-active img {
        width: 2.7rem;
        height: 2.7rem;
        margin-top: 0.6rem;
    }

    .cms-item-group-name {
        margin-top: 0.2rem;
        font-size: 1.5rem;
    }

    .cms-item-group-status-text {
        margin-top: 0;
        font-size: 1rem;
    }
}

/* ======================================================================================== */
/* CALLING POPUP */
.b2b-modal-body-calling {
    width:45rem;
    height: 39rem;
    margin-left: -23rem;
    margin-top: -20rem;
}

.b2b-modal-calling-video {
    width: 100%;
    height: 25rem;
}

.b2b-modal-calling-msg {
    font-size: 1.2rem;
}

.b2b-modal-calling-msg-busy {
    color:#ff1e00;
}

.b2b-modal-calling-btn-endcall {
    background-color: #ff1e00;
    color:#fff;
    font-size: 1.2rem;
    border: 1px solid #ff1e00;
    border-radius: 20px;  
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    padding: 7px 30px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.b2b-modal-calling-btn-endcall:hover {
    background-color: #cc1800;
}

@media (max-width: 800px) {
    .b2b-modal-body-calling {
        width:100%;
        margin-left: 0;
        left:0;
        border-radius: 0;
    }
}

@media (max-width: 700px) {
    .b2b-modal-body-calling {
        height: 34rem;
        margin-top: -17rem;
    }
    
    .b2b-modal-calling-video {
        height: 20rem;
    }
}

@media (max-width: 650px) {
    .b2b-modal-calling-msg-busy {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .b2b-modal-body-calling {
        height: 26rem;
        margin-top: -13rem;
    }
    
    .b2b-modal-calling-video {
        height: 15rem;
    }
}

@media (max-width: 400px) {
    .b2b-modal-body-calling {
        height: 29rem;
        margin-top: -15rem;
    }
    
    .b2b-modal-calling-video {
        height: 15rem;
    }
}

@media (max-height: 550px) {
    .b2b-modal-body-calling {
        height: 100vh;
        margin-top: 0;
        padding: 1rem;
        margin-left: 0;
        width: 100%;
        border-radius: 0;
    }
    
    .b2b-modal-calling-video {
        height: 21rem;
    }
    
    .video-react {
        position: relative;
    }
    
    .b2b-modal-calling-video .video-react.video-react-fluid {
        height: 21rem !important;
    }
    
    .b2b-modal-calling-video .video-react .video-react-video {
        height: 21rem !important;
        max-height: 21rem !important;
        width: auto !important;
    }

    .b2b-modal-calling-msg p {
        margin: 1.3rem;
    }
}

@media (max-width: 520px) {
    .b2b-modal-calling-msg-busy {
        font-size: 0.8rem;
    }
}

@media (max-height: 500px) {
    .b2b-modal-body-calling {
        height: 100vh;
        margin-top: 0;
        padding: 1rem;
        margin-left: 0;
        width: 100%;
        border-radius: 0;
    }
    
    .b2b-modal-calling-video {
        height: 15rem;
    }
    
    .b2b-modal-calling-video .video-react.video-react-fluid {
        height: 15rem !important;
    }
    
    .b2b-modal-calling-video .video-react .video-react-video {
        height: 15rem !important;
        max-height: 15rem !important;
        width: auto !important;
    }

    .b2b-modal-calling-msg > p {
        margin: 0.7rem;
    }
}

@media (max-height: 400px) {
    .b2b-modal-body-calling {
        height: 100vh;
        margin-top: 0;
        padding: 1rem;
    }
    
    .b2b-modal-calling-video {
        height: 13rem;
    }
    
    .b2b-modal-calling-video .video-react.video-react-fluid {
        height: 13rem !important;
    }
    
    .b2b-modal-calling-video .video-react .video-react-video {
        height: 13rem !important;
        max-height: 13rem !important;
        width: auto !important;
    }

    .b2b-modal-calling-msg > p {
        margin: 0.5rem;
    }
}

@media (max-height: 360px) {
    .b2b-modal-body-calling {
        height: 100vh;
        margin-top: 0;
        padding: 1rem;
    }
    
    .b2b-modal-calling-video {
        height: 13rem;
    }
    
    .b2b-modal-calling-video .video-react.video-react-fluid {
        height: 13rem !important;
    }
    
    .b2b-modal-calling-video .video-react .video-react-video {
        height: 13rem !important;
        max-height: 13rem !important;
        width: auto !important;
    }

    .b2b-modal-calling-msg > p {
        margin-top: 0.3rem;
        margin-bottom: 0.7rem;
    }
}

@media (max-height: 320px) {
    .b2b-modal-body-calling {
        height: 100vh;
        margin-top: 0;
        padding: 1rem;
    }
    
    .b2b-modal-calling-video {
        height: 10rem;
    }
    
    .b2b-modal-calling-video .video-react.video-react-fluid {
        height: 10rem !important;
    }
    
    .b2b-modal-calling-video .video-react .video-react-video {
        height: 10rem !important;
        max-height: 10rem !important;
        width: auto !important;
    }

    .b2b-modal-calling-msg > p {
        margin: 0.5rem;
    }
}

@media (max-height: 300px) {
    .b2b-modal-body-calling {
        height: 100vh;
        margin-top: 0;
        padding: 1rem;
    }
    
    .b2b-modal-calling-video {
        height: 8.5rem;
    }
    
    .b2b-modal-calling-video .video-react.video-react-fluid {
        height: 8.5rem !important;
    }
    
    .b2b-modal-calling-video .video-react .video-react-video {
        height: 8.5rem !important;
        max-height: 8.5rem !important;
        width: auto !important;
    }

    .b2b-modal-calling-msg p {
        margin: 0.3rem;
    }
}

/* ======================================================================================== */
/* MESSAGE POPUP */
.b2b-modal-body-message {
    width: 35rem;
    height: 13rem;
    margin-left: -17.5rem;
    margin-top: -10rem;
}

.b2b-modal-body-message-text {
    font-size: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.btn-close-full {
    padding: 7px 20px;
    margin-top: 1rem;
    border-radius: 50px;
}

@media (max-width: 600px) {
    .b2b-modal-body-message {
        width: 100%;
        height: 11rem;
        margin-left: 0;
        left:0;
        margin-top: -9rem;
        border-radius: 0;
    }
}

@media (max-width: 520px) {
    .b2b-modal-body-message {
        width: 100%;
        height: 12rem;
        margin-top: -8rem;
    }
}

@media (max-width: 360px) {
    .b2b-modal-body-message {
        width: 100%;
        height: 13rem;
        margin-top: -6.5rem;
    }
}

@media (max-width: 300px) {
    .b2b-modal-body-message {
        width: 100%;
        height: 15rem;
        margin-top: -8.5rem;
    }
}

@media (max-height: 550px) {
    .b2b-modal-body-message {
        width: 100%;
        height: 11rem;
        margin-top: 11rem;
        left:0;
        right:0;
        margin-left: 0;
        border-radius: 0;
    }
}

@media (max-height: 450px) {
    .b2b-modal-body-message {
        width: 100%;
        height: 11rem;
        margin-top: 7rem;
        left:0;
        right:0;
        margin-left: 0;
        border-radius: 0;
    }
}

@media (max-height: 400px) {
    .b2b-modal-body-message {
        width: 100%;
        height: 11rem;
        margin-top: 5rem;
    }
}

@media (max-height: 300px) {
    .b2b-modal-body-message {
        width: 100%;
        height: 11rem;
        margin-top: 3.5rem;
    }
}