/* ==========================================================================
#Variables
========================================================================== */
// Define color
$color_base: #666666;
$color_black: #000000;
$color_black_1: #282828;
$color_white: #ffffff;
$color_gray: #b4b4b4;
$color_gray_2: #f4f4f4;
$color_gray_3: #f8f9fc;
$color_gray_4: #eef0f2;
$color_gray_5: #d6d6d6;
$color_gray_6: #707070;
$color_gray_7: #cccccc;
$color_gray_8: #b4b4b4;
$color_green: #40c975;
$color_green_light: #ebf9f1;
$color_green_light2: #c3eed4;
$color_green_dark: #2d9f59;
$color_red: #ff533d;
$color_red_dark: #ff1e00;
$color_blue: #4082c9;
$color_blue_dark: #2d649f;
$color_blue_light: #e3e6f0;

/* Define theme colors */
$theme-colors: () !default;
$colors: (
	'default': $color_base,
	'black': $color_black,
	'white': $color_white,
	'gray': $color_gray
);
$theme-colors: map-merge($colors, $theme-colors);

// Define theme font-family
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
$font_base: 'Noto Sans Japanese', 'Yu Gothic Medium', '游ゴシック Medium', 'YuGothic', sans-serif;

// Define theme font-size
$fs_base: 16;
$fs_h1: 50;
$fs_h2: 30;
$fs_h3: 24;
$fs_h4: 20;
$fs_h5: 18;
$fs_h6: 14;

$fs_base_sp: 14;

$lh_base: 26.08;
$lh_base_sp: 20;
$fw_base: 400;

// Define space base
$space_base: 15;
$space_base_px: 15px;

// Size content
$width_content_pc: 1188;
$width_content_pc_px: 1188px;
$width_content_pc_design: 1366;
$width_content_pc_design_px: 1366px;
$width_content_sp_design: 1024;
$width_content_sp_design_px: 1024px;
