/* ==========================================================================
   #About
   ========================================================================== */
.login {
    &__page {
        height: 100vh;
        @include flex(null, center, center);
    }

    &__card {
        width: 100%;
        max-width: calc-rem(400px);
        margin: 10px auto;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 30px;
        background:#fff;
    }

    &__logo {
        // margin-bottom: calc-rem(60px);
        margin-bottom: 0;

        @include bp('sp') {
            width: 70%;
            margin: 0 auto;
        }
    }
}