/* ==========================================================================
   #Room
   ========================================================================== */
.room {
   &-call {
      &__page {
         width: 100%;
         height: 100vh;
      }
   }
}