/* ==========================================================================
   #RESET
   ========================================================================== */

/**
 * A very simple reset that sits on top of Normalize.css.
 */
* {
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */

li {
    list-style: none;
    >ol,
    >ul {
        margin-bottom: 0;
    }
}
