/* ==========================================================================
#SHARED
========================================================================== */

/**
* Shared declarations for certain elements.
*/

/**
* Always declare margins in the same direction:
* csswizardry.com/2012/06/single-direction-margin-declarations
*/

address,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
ol,
ul,
figure,
hr,
table,
fieldset {
    margin-bottom: calc-rem($space_base_px);
}

/**
* Consistent indentation for lists.
*/

dd,
ol,
ul {
    margin-left: calc-rem($space_base_px);
}

html {
    font-family: sans-serif;
    @media (max-width: 1920px) and (min-width: 1081px) {
        // font-size: 1rem;
        @include fs-vw($fs_base, $lh_base, 1920);
    }
    
    // @include fs-vw($fs_base, $lh_base, $width_content_pc_design);

    @media (max-width: $width_content_sp_design_px) {
        @include font-size($fs_base, $lh_base);
    }

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba($color_black, 0);
}

body {
    color: $color_base;
    font-family: $font_base;
    font-weight: $fw_base;
    // word-break: break-all;
    @include font-size($fs_base, $lh_base);
}
