/* ==========================================================================
   #Custom
   ========================================================================== */
.fixed {
    background-color: $color_base;
    @include position(fixed, 'tl', 0, 0, 100001, 100%, 100%);
}

// Scrollbar
$bg_transparent: transparent;
$bg2: rgba($color_base, 0.35);

.scrollbar,
.sidebar__left.open {
    scrollbar-color: $color_base $color_gray_2;
    scrollbar-width: thin;

    &::-webkit-scrollbar-track {
        background-color: $color_gray_2;
    }

    &::-webkit-scrollbar {
        width: calc-rem(6px);
        height: calc-rem(6px);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color_base;
    }
}

.scrollbar-w {
    scrollbar-color: $color_gray_2 $color_base;
    scrollbar-width: thin;

    &::-webkit-scrollbar-track {
        background-color: $color_base;
    }

    &::-webkit-scrollbar {
        width: calc-rem(6px);
        height: calc-rem(6px);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color_gray_2;
    }
}

.timerep__logo {
    position: absolute;
    bottom: calc-rem(30px);
    right: calc-rem(50px);
    width: calc-rem(212px);
    height: calc-rem(48px);
}

::-webkit-input-placeholder {
    color:    #cccccc;
}
:-moz-placeholder {
   color:    #cccccc;
   opacity:  1;
}
::-moz-placeholder {
   color:    #cccccc;
   opacity:  1;
}
:-ms-input-placeholder {
   color:    #cccccc;
}
::-ms-input-placeholder {
   color:    #cccccc;
}
::placeholder {
   color:    #cccccc;
}
.create {
    &__button {
        @include flex(null, center, flex-start);

        p {
            margin: 0 calc-rem(30px) 0 0;
            font-size: calc-rem(18px);
            font-weight: 300;
        }
        &--operator {
          .btn__list--calendar  {
            margin-right: calc-rem(50px);
          }
          @include bp('sp') {
            box-shadow: 0 calc-rem(3px) calc-rem(6px) calc-rem(-2px) rgba(0, 0, 0, 0.16);
            margin-right: calc-rem(-10px);
            margin-left: calc-rem(-10px);
            padding: 0 calc-rem(10px) calc-rem(30px);
            &.create__button p {
              font-size: calc-rem(14px);
            }
          }
          @media only screen and (max-width: 768px) and (orientation: portrait) {
            .btn__list--calendar {
              margin-right: 0;
              margin-top: calc-rem(7px);
            }
            .btn--sm {
              margin: calc-rem(25px) auto 0;
            }
          }
          @media only screen and (max-width: 812px) and (orientation: landscape) {
            &.create__button {
              flex-wrap: nowrap;
              justify-content: center!important;
            }
          }
        }
      }
}

.pagination {
    &__txt {
        font-size: calc-rem(18px);
        font-weight: 300;
    }

    li {
        height: calc-rem(45px);
        text-align: center;

        a {
            display: block;
            width: calc-rem(50px);
            height: calc-rem(45px);
            border: calc-rem(1.5px) solid $color_gray_5;
            font-size: calc-rem(18px);
            color: $color_base;
            padding-top: calc-rem(8px);
            border-right: none;

            &.hidden {
                font-weight: 300;
                color: $color_gray;
            }
        }

        span {
            display: block;
            width: calc-rem(50px);
            height: calc-rem(45px);
            border: calc-rem(1.5px) solid $color_base;
            padding-top: calc-rem(8px);
        }

        a:hover,
        .current {
            color: $color_white;
            font-weight: 300;
            background-color: $color_base;
            border-color: $color_base;
        }

        &:last-child a {
            border-right: calc-rem(1.5px) solid $color_gray_5;
        }

        .prev,
        .next {
            width: calc-rem(100px);
        }
    }
    @include bp('sp') {
        margin: 0;
        &__txt {
            width: 100%;
        }
    }
}

.table {
    &__content {
        width: 100%;
        max-width: calc-rem(1580px);
        margin: 0 auto;
    }
}

.container {
    &--b {
        padding: calc-rem(40px) calc-rem(40px) calc-rem(110px);
        @media (max-width: 1024px) {
            padding: 0 calc-rem(20px) calc-rem(50px);
        }
        @include bp(0, 768px) {
            padding: 0 0  calc-rem(50px);
        }
    }
    &--c {
        padding: calc-rem(40px) calc-rem(70px) calc-rem(110px);

        @include bp(0, 1024px) {
            padding: 0 calc-rem(30px) calc-rem(50px);
        }
        @include bp(0, 768px) {
            padding: 0 0 calc-rem(50px);
        }
    }
    &--operator {
        @include bp(0, 812px) {
          &.container--c {
            padding-bottom: 0;
          }
        }
      }
}
.section {
    &__pagination {
        @include bp('sp') {
            flex-wrap: wrap;
        }
        @include bp(0, 812px) {
            &.d--flex {
              display: none!important;
            }
        }
    }
}
.btn {
    &--plus {
        &-lg {
            max-width: calc-rem(323px);
            width: 100%;
            margin-left: auto;
            font-weight: 300;
            padding-left: calc-rem(15px);
            .icon {
                left: calc-rem(32px);
                @include size(16px, 16px);
            }
        }
    }
    &--sm {
        &-b {
            max-width: calc-rem(160px);
            width: 100%;
        }
    }
    &--md {
        &-b {
            max-width: calc-rem(210px);
            width: 100%;
            @include bp('sp') {
                max-width: 49%;
            }
        }
    }
    &--csv {
        max-width: calc-rem(210px);
        width: 100%;
        font-weight: 300;
    }
    &--dl {
        max-width: calc-rem(210px);
        width: 100%;
        font-weight: 300;
        .icon {
            margin-right: calc-rem(16px);
        }
    }
    &--upload {
        font-weight: 300;
        .icon {
            margin-right: calc-rem(10px);
        }
    }
    &--calendar {
        @include font-size(16, 16);
        height: calc-rem(40px);
        border: calc-rem(2px) solid $color_gray;
        text-align: center;
        background-color: $color_white;
        max-width: calc-rem(150px);
        width: 100%;
        font-weight: 100;
        padding-left: calc-rem(9px);
        padding-right: calc-rem(24px);
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        input {
            height: 100%;
            display: block;
            width: 100%;
            border: none;
            font-weight: 100;
            font-size: calc-rem(16px);
        }
        .icon {
            @include position(absolute, 'tr', 50%, 5px, 2,null, null);
            transform: translateY(-50%);
        }
    }
    &--border {
        background-color: $color_gray_2;
        border: none;
        border-radius: calc-rem(20px);
        font-weight: 300;
    }
}
.btn__list--calendar {
    span {
        margin: 0 calc-rem(20px);
    }
}

.form {
    &__error {
        &--bg {
            background-color: $color_red;
            color: $color_white;
            padding: calc-rem(5px) calc-rem(8px) 0;
            min-height: calc-rem(40px);
            p {
                margin-bottom: 0;
                font-weight: 300;
            }
        }
    }
    &__create {
        .form__label {
            strong {
                font-size: calc-rem(18px);
            }
            span {
                vertical-align: middle;
                &.require {
                    font-size: calc-rem(8px);
                    color: $color_red;
                    border: 1px solid $color_red;
                    font-weight: 300;
                    padding: 0 calc-rem(7px);
                }
                &.txt_sm {
                    font-size: calc-rem(14px);
                    display: block;
                }
            }
            a {
                color: $color_base;
                text-decoration: underline;
                font-weight: 300;
            }
        }
        .form__group {
            position: relative;
            .icon {
                @include position(absolute,'tr', 50%, 12px, 2, 18px, 18px);
                transform: translateY(-50%);
            }
            .btn--border:first-child {
                margin-right: calc-rem(10px);
            }
            .table__content {
                min-width: 100%;
                tr {
                    border-bottom: calc-rem(1px) solid $color_gray_5;
                    &:first-child {
                        border-top: calc-rem(2px) solid $color_gray_5;
                    }
                    td {
                        width: 33.33%;
                        &.btn_remove {
                            .btn {
                                height: calc-rem(27px);
                                max-width: calc-rem(66px);
                                margin-left: auto;
                                font-size: calc-rem(12px);
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }
        .form__control {
            height: calc-rem(45px);
            font-size: calc-rem(16px);
            font-weight: 300;
        }
        .form__row {
            .btn--plus {
                max-width: calc-rem(100px);
                height: calc-rem(24px);
                font-size: calc-rem(12px);
                font-weight: 300;
                .icon {
                    @include size(12px,12px);
                    left: calc-rem(20px);
                }
            }
        }
    }
}
.b2b-modal {
    &__container {
        &-d {
            padding-left: calc-rem(30px);
            padding-right: calc-rem(30px);
        }
    }
}

.modal {
    &__room {
        &__search {
            border : 1px solid $color_gray_7;
            height: calc-rem(45px);
            overflow: auto;
            display: flex;
            flex: nowrap;
            // padding-left: calc-rem(6px);
            ul {
                margin: 0;
                margin-left: calc-rem(5px);
                display: flex;
                flex-wrap: nowrap;
                li {
                    display: inline-flex;
                    align-items: center;
                    border-radius: calc-rem(18px);
                    padding-right: calc-rem(33px);
                    background-color: $color_gray_2;
                    margin-top: calc-rem(6px);
                    margin-right: calc-rem(5px);
                    position: relative;
                    .thumb {
                        margin-bottom: 0;
                    }
                    .modal__room__list__close {
                        font-weight: 700;
                        line-height: 1;
                        color: #000;
                        text-shadow: 0 1px 0 #fff;
                        filter: alpha(opacity=20);
                        opacity: .2;
                        @include position(absolute,'tr', 50%, 7px, 2, 14px, 14px);
                        transform: translateY(-50%);
                    }
                    @include bp('sp') {
                        padding-right: calc-rem(25px);
                        margin-right: calc-rem(3px);
                    }
                    @media only screen and (max-width: 375px) {
                        // padding-right: calc-rem(15px);
                        .modal__room__list__avt {
                            @include size(26px,26px);
                        }
                        .modal__room__list__name {
                            margin-left: calc-rem(3px);
                            font-size: calc-rem(12px);
                        }
                        .modal__room__list__close {
                            @include size(10px,10px);
                        }
                    }
                }
            }
        }
    }
}

.pause-message {
    font-size: calc-rem(20px);
    line-height: 1.3;
}

.avatar-mainscreen>canvas {
    width: auto;
    height: 100%;
}