/* ==========================================================================
   #Font
   ========================================================================== */
.font {
    &__size {
        &__sp {
            @include bp('sp') {
                &--14 {
                    font-size: calc-rem(14px);
                }

                &--18 {
                    font-size: calc-rem(18px);
                }
            }
        }
    }
}
