/* ==========================================================================
   #GENDER
   ========================================================================== */
/**
 * Icons
 */
/* stylelint-disable */
/* prettier-ignore */
$icons_pc: (
    'eye' : ('width': calc-rem(16px), 'height': calc-rem(14px)),
    'eye_hide' : ('width': calc-rem(16px), 'height': calc-rem(14px)),
    'menu_c' : ('width': calc-rem(36px), 'height': calc-rem(30px)),
    'zoom' : ('width': calc-rem(50px), 'height': calc-rem(50px)),
    'zoom_out' : ('width': calc-rem(50px), 'height': calc-rem(50px)),
    'dashboard' : ('width': calc-rem(18px), 'height': calc-rem(18px)),
    'history' : ('width': calc-rem(18px), 'height': calc-rem(18px)),
    'user' : ('width': calc-rem(18px), 'height': calc-rem(11.5px)),
    'music' : ('width': calc-rem(18px), 'height': calc-rem(18px)),
    'config' : ('width': calc-rem(18px), 'height': calc-rem(18px)),
    'face_on' : ('width': calc-rem(60px), 'height': calc-rem(60px)),
    'face_off' : ('width': calc-rem(60px), 'height': calc-rem(60px)),
    'hear' : ('width': calc-rem(52px), 'height': calc-rem(40px)),
    'smile' : ('width': calc-rem(40px), 'height': calc-rem(40px)),
    'sad' : ('width': calc-rem(40px), 'height': calc-rem(40px)),
    'tired' : ('width': calc-rem(50px), 'height': calc-rem(40px)),
    'shake_hands' : ('width': calc-rem(56px), 'height': calc-rem(43px)),
    'shake_head' : ('width': calc-rem(65px), 'height': calc-rem(40px)),
    'bow' : ('width': calc-rem(40px), 'height': calc-rem(40px)),
    'like' : ('width': calc-rem(50px), 'height': calc-rem(43px)),
    'plus' : ('width': calc-rem(15px), 'height': calc-rem(15px)),
    'btn_sort' : ('width': calc-rem(25px), 'height': calc-rem(16px)),
    'btn_sort-up' : ('width': calc-rem(25px), 'height': calc-rem(16px)),
    'btn_download' : ('width': calc-rem(21px), 'height': calc-rem(21px)),
    'calendar' : ('width': calc-rem(16px), 'height': calc-rem(18px)),
    'pen' : ('width': calc-rem(18px), 'height': calc-rem(18px)),
    'btn_upload' : ('width': calc-rem(16px), 'height': calc-rem(17px)),
);

$icons_sp: (
    'eye' : ('width': calc-rem(16px), 'height': calc-rem(14px)),
    'eye_hide' : ('width': calc-rem(16px), 'height': calc-rem(14px)),
    'menu_c' : ('width': calc-rem(22px), 'height': calc-rem(18px)),
    'zoom' : ('width': calc-rem(20px), 'height': calc-rem(20px)),
    'zoom_out' : ('width': calc-rem(20px), 'height': calc-rem(20px)),
    'dashboard' : ('width': calc-rem(18px), 'height': calc-rem(18px)),
    'history' : ('width': calc-rem(18px), 'height': calc-rem(18px)),
    'user' : ('width': calc-rem(18px), 'height': calc-rem(11.5px)),
    'music' : ('width': calc-rem(18px), 'height': calc-rem(18px)),
    'config' : ('width': calc-rem(18px), 'height': calc-rem(18px)),
    'face_on' : ('width': calc-rem(50px), 'height': calc-rem(50px)),
    'face_off' : ('width': calc-rem(30px), 'height': calc-rem(30px)),
    'hear' : ('width': calc-rem(42px), 'height': calc-rem(30px)),
    'smile' : ('width': calc-rem(30px), 'height': calc-rem(30px)),
    'sad' : ('width': calc-rem(30px), 'height': calc-rem(30px)),
    'tired' : ('width': calc-rem(40px), 'height': calc-rem(30px)),
    'shake_hands' : ('width': calc-rem(46px), 'height': calc-rem(33px)),
    'shake_head' : ('width': calc-rem(55px), 'height': calc-rem(30px)),
    'bow' : ('width': calc-rem(30px), 'height': calc-rem(30px)),
    'like' : ('width': calc-rem(40px), 'height': calc-rem(33px)),
    'btn_sort' : ('width': calc-rem(25px), 'height': calc-rem(16px)),
    'btn_sort-up' : ('width': calc-rem(25px), 'height': calc-rem(16px)),
    'calendar' : ('width': calc-rem(16px), 'height': calc-rem(18px)),
);

$icons_png: ();

/**
 * Background
 */
/* prettier-ignore */
.bg {
    @include bp('pc') {
        &-pc {

            @each $key,
                $val in $theme-colors {
                &--#{$key} {
                    background-color: #{$val};
                }
            }
        }
    }

    @include bp('sp') {
        &-sp {

            @each $key,
                $val in $theme-colors {
                &--#{$key} {
                    background-color: #{$val};
                }
            }
        }
    }

    @each $key,
        $val in $theme-colors {
        &--#{$key} {
            background-color: #{$val};
        }
    }
}

/**
 * Text Color
 */
/* prettier-ignore */
.text {

    @each $key,
        $val in $theme-colors {
        &--#{$key} {
            color: #{$val};
        }
    }
}
