/* ==========================================================================
   #Spacing
   ========================================================================== */
@include repeat-unit-classes-map($repeatable-slugs, 0, 20, px, 5);

.m {
    &--auto {
        margin-left: auto;
        margin-right: auto;
    }

    &l {
        &--auto {
            margin-left: auto;
        }
    }

    &r {
        &--auto {
            margin-right: auto;
        }
    }

    &x {

        @include bp('pc') {
            &__pc {
                &--auto {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        @include bp('sp') {
            &__sp {
                &--auto {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        &--auto {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.p {
    &--auto {
        padding-left: 0;
        padding-right: 0;
    }

    &l {
        &--auto {
            padding-left: 0;
        }
    }

    &r {
        &--auto {
            padding-right: 0;
        }
    }

    &x {

        @include bp('pc') {
            &__pc {
                &--auto {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        @include bp('sp') {
            &__sp {
                &--auto {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        &--auto {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.no {
    &__pd {
        padding: 0;
    }
}