/* ==========================================================================
   #Text
   ========================================================================== */
/* prettier-ignore */
.text {
    &--hidden {
        font: 0/0 serif;
        color: transparent;
        text-shadow: none;
    }

    &--center {
        text-align: center;
    }

    &--transfer {
        position: absolute;
        top: calc-rem(30px);
        left: calc-rem(40px);
        color: $color_black_1;
        @include font-size(18, 24);
        font-weight: 300;

        @include bp("sp") {
            top: calc-rem(20px);
            left: calc-rem(20px);
        }
    }

    &--green {
        color: $color_green;
    }
}

.list {
    &--unstyled {
        list-style: none;
        margin: 0;
    }
}
