/* ==========================================================================
   #Width
   ========================================================================== */
.width {
   @include bp("pc") {
      &--800 {
         max-width: calc-rem(800px);
         width: 100%;
      }
      &--815 {
         max-width: calc-rem(815px);
         width: 100%;
      }
   }
}