/* ==========================================================================
   #HEADINGS
   ========================================================================== */
h1 {
    @include font-size($fs_h1, 50);
}

h2 {
    @include font-size($fs_h2, 40);
}

h3 {
    @include font-size($fs_h3, 34);
}

h4 {
    @include font-size($fs_h4, $lh_base);
}

h5 {
    @include font-size($fs_h5, $lh_base);
}

h6 {
    @include font-size($fs_h6, $lh_base);
}
