/* ==========================================================================
   #Wrapper
   ========================================================================== */
.container {
    width: 100%;
    margin: 0 auto;
    padding-left: calc-rem(15px);
    padding-right: calc-rem(15px);

    &__fluid {
        @extend .container;

        width: 100%;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc-rem(-$space_base_px);
    margin-right: calc-rem(-$space_base_px);
}

.col {
    padding-left: calc-rem(-$space_base_px);
    padding-right: calc-rem(-$space_base_px);

    &--12 {
        width: 100%;
    }
}

.main__content {
    display: flex;
    flex-wrap: wrap;

    @include bp("pc") {
        height: calc(100% - (45rem / 16));
    }

    @include bp(0, 812px) {
        padding: calc-rem(20px) calc-rem(10px) 0;
        margin-top: calc-rem(60px);
        height: calc(100% - (60rem / 16));
    }
    &__reverse {
        @include bp("sp") {
            padding: 0;
            flex-direction: column-reverse;
            margin-top: 0;
            min-height: auto;
            height: auto;
        }

        @include bp(812px, 1080px) {
            padding: 0;
            flex-direction: column-reverse;
            margin-top: 0;
            min-height: auto;
            height: auto;
        }
    }

    // .control__avatar {
    //     height: 100vh;
    //     @include bp("pc") {
    //         height: 100%;
    //     }
    // }
}
