.audio {
    &__wrap{
        @include flex(column, center, center);
        width: 100%;
        height: 100%;
        padding: 0 calc-rem(20px);

        @include bp("sp") {
            flex-direction: row;
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
            flex-direction: row;
        }
    }

    &__heading {
        width: 100%;
        text-align: center;
        @include font-size(24, 24);
        font-weight: 400;
        margin-bottom: calc-rem(65px);

        @include bp("sp") {
            margin-bottom: calc-rem(30px);
            @include font-size(18, 24);
        }

        * {
            margin: 0;
        }
    }

    &__row {
        @include flex(null, flex-start, space-between);
        @media (min-width: 1024px) {
            width: 100%;
            max-width: calc-rem(1000px);
        }
        @media (max-width: 1024px) {
            width: 100%;
            padding: 0 calc-rem(20px);
        }
        @include bp("sp") {
            width: 100%;
            padding: 0 calc-rem(20px);
        }
    }

    &__col {
        width: calc(50% - (50rem / 16));
        @media (max-width: 1024px) {
            width: calc(50% - (20rem / 16));
        }
        @include bp("sp") {
            width: 100%;
            margin-bottom: calc-rem(30px);
        }
        &__title {
            @include font-size(24, 24);
            font-weight: 300;
            text-align: center;
            border-bottom: calc-rem(1px) solid $color_gray_8;
            padding-bottom: calc-rem(15px);
            margin-bottom: calc-rem(40px);

            @include bp("sp") {
                margin-bottom: calc-rem(20px);
                @include font-size(18, 24);
            }

            * {
                margin: 0;
            }
        }
    }
}