/* ==========================================================================
   #Button
   ========================================================================== */
$pd_x_sm_pc: 6px;
$pd_x_sm_sp: 3px;
$pd_y_sm_pc: 30px;
$pd_y_sm_sp: 20px;

// Button Setting Default
.btn {
    display: inline-block;
    border: 0;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    padding: 5px 0px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;

    &--default {
        height: calc-rem(40px);
        border: calc-rem(2px) solid $color_gray;
        text-align: center;
        background-color: $color_white;

        &:hover {
            background-color: $color_gray;
            color: $color_white;
        }
        @include font-size(16, 16);
        @include flex(null, center, center);
    }

    &--red {
        border-color: $color_red;
        color: $color_white;
        background-color: $color_red;

        &:hover {
            background-color: $color_red_dark;
            color: $color_white;
        }
    }

    &--green {
        border-color: $color_green;
        color: $color_white;
        background-color: $color_green;

        &:hover {
            background-color: $color_green_dark;
            color: $color_white;
        }
    }

    &--blue {
        border-color: $color_blue;
        color: $color_white;
        background-color: $color_blue;

        &:hover {
            background-color: $color_blue_dark;
            color: $color_white;
        }
    }

    &--close {
        margin-top: calc-rem(40px);
        margin-bottom: 0;
    }

    // Button Size
    &--sm {
        width: 100%;
        max-width: calc-rem(120px);
    }

    &--md {
        width: 100%;
        max-width: calc-rem(175px);

        @include bp('sp') {
            max-width: calc(50% - 5rem / 16);
        }
    }

    &--lg {
        width: 100%;
        max-width: calc-rem(300px);

        &-b {
            width: 100%;
            max-width: calc-rem(370px);
        }
    }

    &:focus,
    &.focus {
        outline: 0;
    }

    &.disabled,
    &:disabled {
        opacity: 0.6;
    }

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }


    &__icon{
        &--transfer {
            display: flex;
            flex-wrap: nowrap;

            .icon {
                -webkit-transition: all 0.25s ease;
                transition: all 0.25s ease;
            }

            &:hover {
                .icon {
                    -webkit-filter: brightness(0) invert(1);
                    filter: brightness(0) invert(1);
                }
            }
        }
    }

    &--plus {
        position: relative;
        .icon {
            position: absolute;
            left: calc-rem(12px);
        }
    }
}