/* ==========================================================================
   #Control
   ========================================================================== */
.control {
    &__horizontal {
        @include flex(null, center, center);
        padding: calc-rem(60px) calc-rem(130px);

        &__item {
            width: calc(50% - 50rem / 16);
            height: 100%;
            &:not(:last-child) {
                margin-right: calc-rem(100px);
            }
        }

        .control__avatar-screen {
            width: calc(100%);
        }

        @include bp(0, 1440px) {
            padding: calc-rem(60px);

            &__item {
                width: calc(50% - (30rem / 16));
                height: 100%;
                &:not(:last-child) {
                    margin-right: calc-rem(60px);
                }
            }
        }

        @include bp("sp") {
            padding: 0;

            &__item {
                width: 100%;
                height: 50vh;

                &:not(:last-child) {
                    margin-right: 0;
                }
            }

            .control__avatar-screen {
                width: 100%;
                height: 100%;
            }
        }

        @include bp(812px, 1080px) {
            padding: calc-rem(20px) 0;
            height: 100vh;
            &__item {
                width: 80%;
                height: 50%;
                padding: calc-rem(20px) 0;

                &:not(:last-child) {
                    margin-right: 0;
                }
            }

            .control__avatar-screen {
                width: 100%;
                height: 100%;
            }
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
            padding: 0;
            &__item {
                width: 50vw;
                height: 100vh;
                padding: 0;

                &:not(:last-child) {
                    margin-right: 0;
                }
            }
            .control__avatar-screen {
                width: 100%;
                height: 100%;
            }
        }
    }
    &__avatar {
        width: 100%;
        height: 100vh;
        &-screen {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            // fix bg
            background-position: center center;
            background-size: cover !important;
            background-repeat: no-repeat;

            > img {
                object-fit: cover;
                max-width: 100%;
                height: auto;
                max-height: 100%;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);

                @include bp("sp") {
                    max-width: 90%;
                }
            }
        }

        &--sm {
            @include position(relative, 'tr', 0, 0, 9, 324px, 324px);
            margin: calc-rem(20px) 0;

            @media only screen and (min-width: 813px) {
                .main__dashboard & {
                    @include size(220px, 220px);
                }
            }

            @include bp("sp") {
                top: 0;
                right: 0;
            }
        }

        &--sb {
            margin: 0 auto calc-rem(20px);

            @include bp("pc") {
                @include position(relative, 'tr', 40px, 0, 2, 324px, 324px);
            }

            @include bp("sp") {
                @include position(absolute, 'tr', 10px, 10px, 9, 180px, 180px);
            }

            @include bp(812px, 1080px) {
                @include position(absolute, 'tr', 10px, 10px, 9, 324px, 324px);
            }

            @include bp(0, 767px) {
                @include position(absolute, 'tr', 10px, 10px, 9, 120px, 120px);
            }
        }

        &--sr {
            margin: calc-rem(20px) 0;

            @include bp("pc") {
                @include position(relative, 'tr', 0, 0, 2, 324px, 324px);
            }

            @include bp("sp") {
                margin: calc-rem(15px) 0;
                @include size(180px, 180px);

                &:not(:last-child) {
                    margin-right: calc-rem(15px);
                }
            }

            @include bp(812px, 1080px) {
                @include size(324px, 324px);
                &:not(:last-child) {
                    margin-right: calc-rem(50px);
                }
            }

            @include bp(0, 767px) {
                @include size(120px, 120px);

            }
        }
    }

    &__zoom {
        @include position(absolute, 'tl', 13px, 13px, 9, 50px, 50px);
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;

        @include bp("sp") {
            @include size(20px, 20px);
            top: calc-rem(5px);
            left: calc-rem(5px);
        }
    }

    &__wrapper {
        background: rgba($color_black, 0.5);
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc-rem(145px);
        z-index: 9;

        @include bp("sp") {
            height: calc-rem(76px);
        }

        .timerep__logo {
            bottom: auto;
            top: calc-rem(-78px);

            @include bp("sp") {
                display: none;
            }
        }
    }

    &__main {
        width: 100%;
        height: 100%;
        @include flex(null, center, center);
        @include bp("pc") {
            padding-top: calc-rem(22px);
            align-items: flex-start;
        }

        @include bp("sp") {
            &.scrollbar {
                justify-content: flex-start;
            }
            flex-wrap: nowrap;
            overflow: auto;
        }
    }

    &__item {
        width: calc(100% / 8);
        text-align: center;
        position: relative;

        @include bp("sp") {
            width: calc(100% / 4);
            min-width: calc(100% / 4);
        }

        &__inner {
            display: inline-block;
            cursor: pointer;
        }

        &--thumb {
            width: calc-rem(76px);
            height: calc-rem(76px);
            margin: 0 auto calc-rem(4px);

            @include bp("sp") {
                width: calc-rem(54px);
                height: calc-rem(54px);
                margin-bottom: 0;
            }
        }

        &--title {
            @include font-size(16, 24);
            color: $color_white;
            font-weight: 200;
            margin: 0;
            * {
                margin: 0;
            }

            @include bp("sp") {
                display: none;
            }
        }

        &--icon {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            display: block;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease-in-out;
        }
    }

    &__sub {
        background-color: $color_white;
        position: absolute;
        width: calc-rem(500px);
        bottom: calc(100% + 22rem / 16);
        left: 50%;
        transform: translateX(-50%);

        &__title {
            padding: calc-rem(20px) 0 calc-rem(25px);
            height: calc-rem(80px);
            @include font-size(24, 24);
            font-weight: 400;
            letter-spacing: calc-rem(0.24px);
            margin: 0;
            * {
                margin: 0;
            }
        }

        &__content {
            margin: 0;
        }

        &__item {
            border-top: calc-rem(1px) solid $color_gray_6;
            a {
                @include font-size(16, 22);
                padding: calc-rem(18px) 0;
                height: calc-rem(80px);
                font-weight: 300;
                color: $color_base;
                @include flex(null, center, center);
                flex-wrap: nowrap;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;

                .icon {
                    margin-right: calc-rem(15px);
                }

                &:hover {
                    opacity: 0.75;
                }
            }
        }

        @media only screen and (max-width: 812px) {
            width: calc-rem(250px);
            bottom: calc(100% + 11rem / 16);

            &__title {
                padding: calc-rem(15px) 0;
                @include font-size(18, 18);
                height: auto;
            }

            &__item {
                a {
                    @include font-size(16, 16);
                    padding: calc-rem(5px);
                    height: auto;

                    span {
                        margin-top: calc-rem(-2px);
                    }
                }
            }
        }
    }

    &__face_on {
        @include position(absolute, 'tl', 15px, 15px, 9, 60px, 60px);
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;

        @include bp("sp") {
            @include size(50px, 50px);
            top: calc-rem(25px);
            left: calc-rem(10px);
        }
    }

    &__sticker {
        margin: 0;
        @include position(absolute, 'bl', 0, 0, 9, 100%);
        @include flex(null, center, center);
        padding: 0;
        li {
            @include size(70px,80px);
            background: rgba(0, 0, 0, 0.5);
            border-radius: calc-rem(10px);
            @include flex(column, center, center);
            padding-top: calc-rem(8px);
            margin: 0 calc-rem(4px) calc-rem(8px) calc-rem(4px);
            // &:nth-child(4n+4) {
            //     margin-right: 0;
            // }
            @include bp("sp") {
                @include size(60px,70px);
            }
        }
        @include bp("sp") {
            height: auto;
            bottom: calc-rem(20px);
        }
        &--txt {
            margin-bottom: 0;
            color: $color_white;
            font-weight: 300;
            letter-spacing: calc-rem(-2.4px);
            @include bp("sp") {
                font-size: calc-rem(14px);
                width: 100%;
                text-align: center;
            }
        }
    }
}

.control__share-screen {
    @include flex(null, center, center);
}