/* ==========================================================================
   #Form
   ========================================================================== */
.form {
    &__row {
        margin-bottom: calc-rem(20px);
    }

    &__group {
        position: relative;
    }

    &__label {
        text-align: left;
        margin-bottom: calc-rem(10px);
        strong {
            font-weight: 300;
            @include font-size(14);
        }

        * {
            margin: 0;
        }
    }

    &__control {
        width: 100%;
        height: calc-rem(40px);
        border: calc-rem(1px) solid $color_gray_2;
        padding: 5px 10px;
        font-family: $font_base;
        font-weight: 200;
        background-color: $color_gray_2;
        @include font-size(14);
        display: flex;
        align-items: center;
    }

    &__checkbox {
        z-index: unset;
        opacity: 0;
        @include cover-all();
    }

    &__button {
        margin: calc-rem(58px) 0 calc-rem(25px);
        @include flex(null, center, center);

        @media only screen and (max-width: 812px) and (orientation: landscape) {
            margin: calc-rem(10px) 0 calc-rem(10px);
        }
    }

    &__text {
        text-align: center;

        &--forgot {
            color: $color_blue;
            border-bottom: 1px solid $color_blue;
            @include font-size(14, 20);
        }
    }

    &__error {
        min-height: calc-rem(50px);
        margin-bottom: calc-rem(10px);
        text-align: left;

        .reset__form & {
            margin-bottom: calc-rem(25px);
        }
    }

    &__login {
        margin-bottom: 0;
        .form__control {
            height: 2.2rem;
        }

        @media only screen and (max-width: 1024px) and (orientation: landscape) {
            .form__control {
                height: 2.2rem;
            }
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
            .form__row {
                margin-bottom: calc-rem(10px);
            }

            .form__control {
                height: 2.2rem;
            }
        }
    }

    &--pwd {
        position: absolute;
        z-index: 9;
        top: 0;
        right: 0;
        cursor: pointer;

        &:hover {
            background-color: $color_gray;
        }
        @include size(30px, 100%);

        span {
            @include size(100%, 100%);
            @include flex(null, center, center);
        }
    }

    // que style
    &__select {
        position: relative;
        line-height: 1.2;
        select {
            background-color: $color_white;
            border: calc-rem(2px) solid $color_gray;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
            padding-right: calc-rem(40px);
        }
        &::before {
            content: "";
            background-color: $color_gray;
            @include position(absolute, 'tr', 50%, 35px, 0, 1px, 30px);
            transform: translateY(-50%);
        }
        &::after {
            content: "";
            border: solid $color_base;
            border-width: 0px calc-rem(1.5px) calc-rem(1.5px) 0;
            padding: calc-rem(3.5px);
            @include position(absolute, 'tr', 43%, 16px, 0, 0px, 0px);
            transform: rotate(45deg) translateY(-50%);
        }

        &-2 {
            position: relative;
            line-height: 1.2;
            select {
                background-color: $color_white;
                border: calc-rem(1px) solid $color_gray_7;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                cursor: pointer;
                padding-right: calc-rem(40px);
            }
            &::after {
                content: "";
                border-left: calc-rem(8px) solid transparent;
                border-right: calc-rem(8px) solid transparent;
                border-top: calc-rem(8px) solid $color_base;
                @include position(absolute, 'tr', 43%, 12px, 0, 0px, 0px);
            }
        }
    }

    &__logout {
        margin-bottom: 0;
    }
    // &__setting {
    //     .form__button {
    //         margin-top: calc-rem(52px);
    //     }
    //     .form__button--top {
    //         margin: calc-rem(60px) 0 calc-rem(20px);
    //     }
    // }

    &__block {
        &:not(:last-child) {
            margin-bottom: calc-rem(50px);
        }
        &__title {
            @include font-size(18, 24);
            font-weight: 300;
        }
    }

    &__box {
        @include flex(row, center, space-between);
        flex-wrap: nowrap;
        .form__select {
            width: 65%;
        }
        .btn__check {
            width: 32.4325%;
        }
    }
}

.modal {
    &__heading {
        margin-bottom: calc-rem(15px);
        text-align: center;

        &__title {
            margin: 0;
            font-weight: 400;
            @include font-size(24, 36);
        }
    }

    &__content {
        font-weight: 200;
        text-align: left;
        line-height: calc-rem(24px);
        margin-bottom: calc-rem(25px);
        max-height: calc-rem(300px);
        overflow: auto;
        padding-right: calc-rem(5px);

        p {
            white-space: pre-wrap;
        }

        p:not(:last-child) {
            margin-bottom: calc-rem(25px);
        }

        @include bp('sp') {
            max-height: calc-rem(300px);
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
            max-height: calc-rem(155px);
        }
    }

    &__container--b {
        padding: 0;
    }

    &__choose {
        &--rgt {
            max-width: calc-rem(500px);
            width: 100%;
            padding: calc-rem(85px) calc-rem(31px) 0;
            box-shadow: calc-rem(2.4px) calc-rem(2.4px) calc-rem(40px) 0 rgba(0, 0, 0, 0.08);
        }
        &-screen {
            height: calc-rem(278px);
            overflow: hidden;
            text-align: center;
            padding-top: calc-rem(20px);
            background-color: $color_gray;
        }
        &--lf {
            padding: 0 calc-rem(31px);
        }
        @include bp('sp') {
            &--rgt {
                max-width: 100%;
                box-shadow: 0 calc-rem(3px) calc-rem(6px) rgba(0,0,0,0.16);
                padding: calc-rem(30px) calc-rem(20px);
            }
            &--lf {
                padding: 0;
                width: 100%;
                margin: 0 auto;
                .group__choose__item  {
                    height: calc(100vh - 620rem / 16);
                }
            }
        }
    }
    &__in {
        &__list {
            margin: 0;
            li {
                border-bottom: calc-rem(1px) solid $color_gray;
                min-height: calc-rem(80px);
                @include flex(null, center, center);
                font-weight: 300;
                letter-spacing: calc-rem(0.16px);
                padding: calc-rem(5px) calc-rem(10px);
            }
        }
        &__phone {
            border-top: calc-rem(1px) solid $color_gray;
            @include flex(null, center, center);
            height: calc-rem(80px);
            a {
                color: $color_green;
            }
        }
    }

    &__room {
        &__title {
            font-weight: 300;
            font-size: calc-rem(24px);
        }
        &__search {
            input {
                box-sizing: border-box;
                font-size: calc-rem(14px);
                padding: 0 calc-rem(5px);
                width: 100%;
                height: 100%;
                border: none;
                flex: 1;
                &::-webkit-input-placeholder {
                    color:    #cccccc;
                }
                &:-moz-placeholder {
                   color:    #cccccc;
                   opacity:  1;
                }
                &::-moz-placeholder {
                   color:    #cccccc;
                   opacity:  1;
                }
                &:-ms-input-placeholder {
                   color:    #cccccc;
                }
                &::-ms-input-placeholder {
                   color:    #cccccc;
                }
                &::placeholder {
                   color:    #cccccc;
                }
            }
        }
        &__list {
            margin-bottom: calc-rem(25px);
            &__ttl {
                font-size: calc-rem(18px);
                font-weight: 300;
                padding-left: calc-rem(15px);
                margin-bottom: calc-rem(7px);
                p {
                    margin-bottom: 0;
                    font-weight: 300;
                }
            }
            ul {
                margin: 0;
                li {
                    position: relative;
                    @include flex(null, center, flex-start);
                    padding: calc-rem(8px) calc-rem(15px);
                    &:hover {
                        background-color: $color_gray_2;
                    }
                    a {
                        @include position(absolute,'tl',0, 0, 1,100%,100%);
                    }
                }
            }
            &__avt {
                @include size(32px,32px);
                border-radius: 50%;
                .thumb {
                    border-radius: 50%;
                }
            }
            &__name {
                margin: 0 0 0 calc-rem(8px);
                font-size: calc-rem(14px);
            }
        }
        &__content {
            // height: calc(100vh - 180rem / 16);
            max-height: calc-rem(380px);
            overflow: auto;
        }
    }
}

.reset {
    &__form {
        .form__button {
            margin-top: calc-rem(50px);
        }
    }
}

.logout {
    &__text {
        text-align: center;
        margin-top: calc-rem(35px);
    }
}