/* ==========================================================================
   #Group
   ========================================================================== */

.group {
    &__customer {
        background: $color_gray_2;

        &__wrapper {
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }

        &__body {
            background-color: $color_white;
        }

        &__head {
            height: calc-rem(140px);
            // padding: calc-rem(2px) calc-rem(15px) calc-rem(5px) calc-rem(15px);
            padding: calc-rem(5px) calc-rem(15px) calc-rem(5px) calc-rem(15px);
            letter-spacing: calc-rem(0.18px);
            background-color: $color_gray_2;
            // @include font-size(18);
            @include font-size(20);
            line-height: 1.3;
            @include flex(null, center, null);
            overflow: auto;

            p {
                text-align: left;
                line-height: 1.3;
                margin: 0;
                white-space: pre-wrap;
            }

            @include bp(0, 767px) {
                width: 100%;
                height: auto;
                padding: calc-rem(5px) calc-rem(15px) calc-rem(7px);
                text-align: center;
                letter-spacing: calc-rem(0.12px);
                @include font-size(14, 18);
            }

            .group__customer__horizontal-list & {
                @include bp(0, 767px) {
                    width: 100%;
                    height: auto;
                    padding: calc-rem(5px) calc-rem(15px) calc-rem(7px);
                    text-align: center;
                    letter-spacing: calc-rem(0.12px);
                    @include font-size(12, 16);
                }
            }

            @media only screen and (max-width: 812px) and (orientation: landscape) {
                width: 100%;
                height: auto;
                padding: calc-rem(5px) calc-rem(15px) calc-rem(7px);
                text-align: center;
                letter-spacing: calc-rem(0.12px);
                @include font-size(12, 16);
            }
        }

        &__main {
            overflow: auto;
            padding: calc-rem(20px) calc-rem(15px) 0;
            background-color: $color_white;

            @include bp(0, 767px) {
                width: 100%;
                height: auto;
                padding-top: calc-rem(15px);
                padding-left: calc-rem(20px);
            }

            @media only screen and (max-width: 812px) and (orientation: landscape) {
                position: static;
            }
        }

        &__title {
            margin: 0;
            padding: calc-rem(30px) 0;
            font-weight: normal;
            text-align: center;
            letter-spacing: calc-rem(0.18px);
            @include font-size(18, 25);

            * {
                margin: 0;
            }

            @include bp(0, 767px) {
                margin: 0;
                padding: calc-rem(11px) 0;
                @include font-size(14, 16);
            }

            .group__customer__horizontal-list & {
                @include bp(0, 767px) {
                    margin: 0;
                    padding: calc-rem(11px) 0;
                    @include font-size(14, 16);
                }
            }

            @media only screen and (max-width: 812px) and (orientation: landscape) {
                margin: 0;
                padding: calc-rem(11px) 0;
                @include font-size(14, 16);
            }
        }

        &__grid {
            max-width: calc-rem(800px);
            margin: 0 auto;
            @include flex(row, center, flex-start);

            @include bp(0, 767px) {
                flex-wrap: nowrap;
                align-items: flex-start;
                width: 100%;
            }

            .group__customer__horizontal-list & {
                @include bp(0, 767px) {
                    flex-wrap: nowrap;
                    align-items: flex-start;
                    width: 100%;
                }
            }

            @media only screen and (max-width: 812px) and (orientation: landscape) {
                flex-wrap: wrap;
                align-items: center;
            }

            .group__item {
                width: 33.33333%;
                margin-bottom: calc-rem(70px);
                padding: 0 calc-rem(10px);

                @include bp(0, 767px) {
                    width: calc-rem(195px);
                    min-width: calc-rem(74px);
                    margin-right: calc-rem(10px);
                    margin-bottom: 0;
                    padding: 0 0 calc-rem(15px);
                    
                    &:not(:nth-child(3n)) {
                        margin-right: calc-rem(10px);
                    }
                }

                .group__customer__horizontal-list & {
                    @include bp(0, 767px) {
                        width: calc-rem(195px);
                        min-width: calc-rem(74px);
                        margin-right: calc-rem(10px);
                        margin-bottom: 0;
                        padding: 0 0 calc-rem(15px);
                        
                        &:not(:nth-child(3n)) {
                            margin-right: calc-rem(10px);
                        }
                    }
                }

                @media only screen and (max-width: 812px) and (orientation: landscape) {
                    width: calc-rem(195px);
                    min-width: calc-rem(74px);
                    padding: 0;
                    margin-right: 0;
                    margin-bottom: calc-rem(20px);

                    &:not(:nth-child(3n)) {
                        margin-right: 0;
                    }
                }
            }
        }

        &__list {
            display: flex;

            @include bp(0, 1080px) {
                width: 100%;
                max-width: 100%;
                margin: 0 auto;
                @include flex(row, flex-start, flex-start);
                flex-wrap: nowrap;
            }

            .group__item {
                margin-bottom: calc-rem(40px);

                @include bp(0, 1080px) {
                    width: calc-rem(195px);
                    min-width: calc-rem(120px);
                    margin-right: calc-rem(10px);
                    margin-bottom: calc-rem(15px);
                }

                @include bp('sp') {
                    width: calc-rem(195px);
                    min-width: calc-rem(120px);
                    margin-right: calc-rem(10px);
                    margin-bottom: 0;
                    padding-bottom: calc-rem(15px);
                    
                    &:not(:nth-child(3n)) {
                        margin-right: calc-rem(10px);
                    }
                }

                @include bp(0, 767px) {
                    width: calc-rem(195px);
                    min-width: calc-rem(74px);
                    margin-right: calc-rem(10px);
                    margin-bottom: 0;
                    padding-bottom: calc-rem(15px);
                    
                    &:not(:nth-child(3n)) {
                        margin-right: calc-rem(10px);
                    }
                }

                @media only screen and (max-width: 1024px) and (orientation: landscape) {
                    margin-right: 0;
                    margin-bottom: calc-rem(40px);

                    &:not(:nth-child(3n)) {
                        margin-right: 0;
                    }
                }

                @media only screen and (max-width: 812px) and (orientation: landscape) {
                    margin-right: 0;
                    margin-bottom: calc-rem(20px);

                    &:not(:nth-child(3n)) {
                        margin-right: 0;
                    }
                }

                &__inner {
                    @include bp(0, 1080px) {
                        flex-direction: column;
                    }
                }

                &__content {
                    @include bp(0, 1080px) {
                        margin-left: 0;
                        text-align: center;
                    }
                    @media only screen and (max-width: 1080px) and (orientation: landscape) {
                        text-align: left;
                    }
                }
            }
        }

        &__one {
            justify-content: center;

            .group__item {
                margin-right: 0;

                &:not(:nth-child(3n)) {
                    margin-right: 0;
                }
            }
        }

        &__horizontal {
            flex-wrap: nowrap;
            height: 100%;
            @include flex(null, flex-start, center);

            @include bp(0, 767px) {
                flex-wrap: wrap;
                justify-content: flex-start;
            }

            @media only screen and (max-width: 812px) and (orientation: landscape) {
                flex-wrap: nowrap;
                justify-content: center;
            }

            .group__customer__head {
                @include bp(0, 1080px) {
                    height: calc-rem(120px);

                    p {
                        -webkit-line-clamp: 4;
                        -moz-line-clamp: 4;
                        -ms-line-clamp: 4;
                        line-clamp: 4;
                    }
                }

                @include bp(0, 1079px) {
                    height: calc-rem(90px);

                    p {
                        -webkit-line-clamp: 3;
                        -moz-line-clamp: 3;
                        -ms-line-clamp: 3;
                        line-clamp: 3;
                    }
                }

                // @include bp(0, 767px) {
                //     height: calc-rem(45px);

                //     p {
                //         font-size: calc-rem(12px);
                //         line-height: 1.3;
                //         -webkit-line-clamp: 2;
                //         -moz-line-clamp: 2;
                //         -ms-line-clamp: 2;
                //         line-clamp: 2;
                //     }
                // }

                // @media only screen and (max-width: 812px) and (orientation: landscape) {
                //     height: calc-rem(70px);

                //     p {
                //         font-size: calc-rem(12px);
                //         line-height: 1.3;
                //         -webkit-line-clamp: 3;
                //         -moz-line-clamp: 3;
                //         -ms-line-clamp: 3;
                //         line-clamp: 3;
                //     }
                // }
            }

            .group__customer--avatar {
                width: 36.458333%;
                height: 100%;
                
                .control__avatar {
                    height: 100%;
                }

                @include bp(0, 1080px) {
                    width: 100%;
                    height: 56.25%;
                }

                @include bp(0, 767px) {
                    width: 100%;
                    height: calc(100% - (300rem / 16));

                    .control__avatar {
                        height: 100%;
                    }
                }

                @media only screen and (max-width: 1024px) and (orientation: landscape) {
                    width: 36.458333%;
                    height: 100%;
                }

                @media only screen and (max-width: 812px) and (orientation: landscape) {
                    width: calc(100vw - 245rem / 16);
                    height: 100vh;
                }
            }

            .group__customer__body {
                width: 100%;
                height: 100%;

                @include bp(0, 1080px) {
                    width: 100%;
                    height: calc(100% - 56.25%);
                }

                @include bp(0, 767px) {
                    width: 100%;
                    height: calc-rem(300px);
                }

                @media only screen and (max-width: 1024px) and (orientation: landscape) {
                    width: 100%;
                    height: 100%;
                }

                @media only screen and (max-width: 812px) and (orientation: landscape) {
                    width: 100%;
                }
            }

            .group__customer__main {
                width: 100%;
                height: calc(100% - 230rem / 16);

                @include bp(0, 1080px) {
                    width: 100%;
                    height: calc(100% - 200rem / 16);
                }

                @include bp(0, 1079px) {
                    width: 100%;
                    height: calc(100% - 170rem / 16);
                }

                @include bp(0, 767px) {
                    // height: calc(100% - 83rem / 16);
                    height: calc(100% - 128rem / 16);
                }

                @media only screen and (max-width: 1023px) and (orientation: landscape) {
                    height: calc(100vh - 128rem / 16);
                }
            }

            &.group__web {
                @media only screen and (max-width: 812px) and (orientation: landscape) {
                    justify-content: space-between;
                }
                .group__web__area {
                    height: 50%;

                    @include bp(0, 1080px) {
                        height: 50%;
                    }

                    @include bp('sp') {
                        height: 27%;
                    }
                }
                .group__customer--avatar {
                    width: 36.458333%;
                    height: 100%;
                    
                    .control__avatar {
                        height: 100%;
                    }
    
                    @include bp(0, 1080px) {
                        width: 100%;
                        height: 31.25%;
                        max-height: calc-rem(600px);
                    }
    
                    // @include bp(0, 767px) {
                    //     width: 100%;
                    //     height: 31.25%;
    
                    //     .control__avatar {
                    //         height: 100%;
                    //     }
                    // }

                    @include bp('sp') {
                        width: 100%;
                        height: 27%;
    
                        .control__avatar {
                            height: 100%;
                        }
                    }
    
                    @media only screen and (max-width: 1024px) and (orientation: landscape) {
                        width: 36.458333%;
                        height: 100%;
                        max-height: 100%;
                    }
    
                    @media only screen and (max-width: 812px) and (orientation: landscape) {
                        width: calc(100vw - 40.762% - (225rem / 16));
                        height: 100vh;
                    }
                }
                .group__customer__main {
                    width: 100%;
                    height: calc(100% - (50% + (230rem / 16)));
    
                    @include bp(0, 1080px) {
                        width: 100%;
                        height: auto;
                        min-height: calc(100% - (50% + (205rem / 16)));
                        max-height: calc(100% - (50% + (145rem / 16)));
                    }

                    @include bp(0, 1079px) {
                        width: 100%;
                        height: calc(100% - (50% + (175rem / 16)));
                        min-height: auto;
                        max-height: none;
                    }
    
                    @include bp('sp') {
                        height: calc(100% - (54% + (175rem / 16)));
                        min-height: auto;
                        max-height: none;
                    }

                    @include bp(0, 767px) {
                        height: calc(100% - (54% + (128rem / 16)));
                        min-height: auto;
                        max-height: none;
                    }
    
                    @media only screen and (max-width: 1023px) and (orientation: landscape) {
                        height: calc(100vh - 128rem / 16);
                        min-height: auto;
                        max-height: none;
                    }
                }

                .group__customer__body {
                    width: 63.541667%;
                    height: 100%;
    
                    @include bp(0, 1080px) {
                        width: 100%;
                        height: calc(100% - 31.25%);
                    }
    
                    // @include bp(0, 767px) {
                    //     width: 100%;
                    //     height: auto;
                    // }
                    
                    @include bp('sp') {
                        width: 100%;
                        // height: auto;
                        height: 100%;
                    }

                    @media only screen and (max-width: 1024px) and (orientation: landscape) {
                        width: 63.541667%;
                        height: 100%;
                    }
    
                    @media only screen and (max-width: 812px) and (orientation: landscape) {
                        width: calc-rem(225px);
                    }
                }

                .group__customer__head {
                    @include bp(0, 1079px) {
                        height: calc-rem(90px);
    
                        p {
                            -webkit-line-clamp: 3;
                            -moz-line-clamp: 3;
                            -ms-line-clamp: 3;
                            line-clamp: 3;
                        }
                    }
                    // @include bp(0, 767px) {
                    //     height: calc-rem(45px);
    
                    //     p {
                    //         font-size: calc-rem(12px);
                    //         line-height: 1.3;
                    //         -webkit-line-clamp: 2;
                    //         -moz-line-clamp: 2;
                    //         -ms-line-clamp: 2;
                    //         line-clamp: 2;
                    //     }
                    // }

                    // @media only screen and (max-width: 812px) and (orientation: landscape) {
                    //     height: calc-rem(70px);
    
                    //     p {
                    //         font-size: calc-rem(12px);
                    //         line-height: 1.3;
                    //         -webkit-line-clamp: 3;
                    //         -moz-line-clamp: 3;
                    //         -ms-line-clamp: 3;
                    //         line-clamp: 3;
                    //     }
                    // }
                }
            }

            &.no-head {
                .group__customer--avatar {
                    @include bp(0, 767px) {
                        height: calc(100vh - 200rem / 16);
                    }

                    @media only screen and (max-width: 812px) and (orientation: landscape) {
                        height: 100vh;
                    }
                }

                .group__customer__body {
                    @include bp(0, 767px) {
                        height: calc-rem(200px);
                    }

                    @media only screen and (max-width: 812px) and (orientation: landscape) {
                        height: 100vh;
                    }
                }

                .group__customer__main {
                    height: calc(100% - 85rem / 16);
                    @include bp(0, 767px) {
                        height: calc(100% - (38rem / 16));
                    }

                    @media only screen and (max-width: 812px) and (orientation: landscape) {
                        height: calc(100% - 38rem / 16);
                    }
                }

                &.group__web {
                    .group__web__area {
                        height: 50%;
    
                        @include bp(0, 1080px) {
                            height: 50%;
                        }
    
                        @include bp('sp') {
                            height: 31.25%;
                        }
                    }
                    .group__customer--avatar {
                        @include bp(0, 1080px) {
                            width: 100%;
                            height: 31.25%;
                            max-height: calc-rem(600px);
                        }
        
                        @include bp(0, 767px) {
                            width: 100%;
                            height: 31.25%;
        
                            .control__avatar {
                                height: 100%;
                            }
                        }
        
                        @media only screen and (max-width: 1024px) and (orientation: landscape) {
                            width: 36.458333%;
                            height: 100%;
                            max-height: 100%;
                        }
        
                        @media only screen and (max-width: 812px) and (orientation: landscape) {
                            width: calc(100vw - 40.762% - (225rem / 16));
                            height: 100vh;
                        }
                    }
                    .group__customer__body {
                        @include bp(0, 767px) {
                            // height: auto;
                            height: 100%;
                        }
                    }
                    .group__customer__main {
                        height: calc(100% - (50% + (85rem / 16)));

                        @include bp('sp') {
                            height: calc(100% - (62.5% + (85rem / 16)));
                        }

                        @include bp(0, 767px) {
                            height: calc(100% - (62.5% + (38rem / 16)));
                        }

                        @media only screen and (max-width: 812px) and (orientation: landscape) {
                            height: calc(100vh - 40rem / 16);
                        }
                    }
                }
            }

            &-list {
                @include bp('sp') {
                    flex-wrap: wrap;
                    justify-content: flex-start;
                }
                .group__customer__head {
                    @include bp(1025px, 0) {
                        height: calc-rem(300px);
                        padding: calc-rem(40px);
                        font-size: calc-rem(30px);
                        font-weight: bold;
                    }

                    @include bp(0, 1024px) {
                        height: calc-rem(120px);

                        p {
                            -webkit-line-clamp: 4;
                            -moz-line-clamp: 4;
                            -ms-line-clamp: 4;
                            line-clamp: 4;
                        }
                    }
                    @include bp(0, 812px) {
                        height: calc-rem(90px);
                        font-weight: normal;
    
                        p {
                            -webkit-line-clamp: 3;
                            -moz-line-clamp: 3;
                            -ms-line-clamp: 3;
                            line-clamp: 3;
                        }
                    }
                }
                .group__customer__title {
                    @include bp(1025px, 0) {
                        font-size: calc-rem(24px);
                    }
                }
                .group__customer--avatar {
                    width: 66.66667%;

                    @include bp(1081px, 1440px) {
                        width: 66.66667%;
                        height: 100%;
                    }

                    @include bp(1025px, 1080px) {
                        width: 100%;
                        height: calc(100vh - (750rem / 16));
                        .avatar-mainscreen>canvas {
                            height: calc(100vh - (750rem / 16));
                            width: auto;
                            max-height: none;
                        }
                    }

                    @include bp(0, 1024px) {
                        width: 100%;
                        // height: calc(100% - (422rem / 16));
                        height: calc(100% - (520rem / 16));
                    }

                    @include bp('sp') {
                        width: 100%;
                        height: calc(100vh - 422rem / 16);
                    }

                    @include bp(0, 767px) {
                        width: 100%;
                        height: calc(100vh - 300rem / 16);
                    }

                    @media only screen and (max-width: 1024px) and (orientation: landscape) {
                        width: calc(100% - (300rem / 16));
                        height: 100vh;
                    }

                    @media only screen and (max-width: 1023px) and (orientation: landscape) {
                        width: calc(100% - (245rem / 16));
                        height: 100vh;
                    }
                }

                .group__customer__body {
                    width: 100%;

                    @include bp(1081px, 1440px) {
                        width: 100%;
                        height: 100%;
                    }

                    @include bp(1025px, 1080px) {
                        width: 100%;
                        height: calc-rem(750px);
                    }
                    
                    @include bp(0, 1024px) {
                        width: 100%;
                        height: calc-rem(520px);
                    }

                    @include bp(0, 768px) {
                        width: 100%;
                        height: calc-rem(422px);
                    }

                    @include bp(0, 767px) {
                        width: 100%;
                        height: calc-rem(300px);
                    }

                    @media only screen and (max-width: 1024px) and (orientation: landscape) {
                        width: 100%;
                        height: 100%;
                    }

                    @media only screen and (max-width: 1023px) and (orientation: landscape) {
                        width: 100%;
                        height: 100%;
                    }
                }

                .group__customer__main {
                    @include bp(1025px, 0) {
                        padding: calc-rem(35px) calc-rem(35px) 0 calc-rem(45px);
                        height: calc(100% - 385rem / 16);
                    }

                    @include bp(1081px, 0) {
                        padding-left: calc-rem(100px);
                    }

                    @include bp(0, 1024px) {
                        width: 100%;
                        height: calc(100% - 205rem / 16);
                        padding-left: calc-rem(35px);
                    }

                    @include bp(0, 1079px) {
                        width: 100%;
                        height: calc(100% - 175rem / 16);
                        padding-left: calc-rem(35px);
                    }

                    @include bp('sp') {
                        padding-top: calc-rem(10px);
                        padding-left: calc-rem(15px);
                        padding-right: calc-rem(15px);
                    }

                    @include bp(0, 767px) {
                        height: calc(100% - 128rem / 16);
                    }
                    
                    @media only screen and (max-width: 1024px) and (orientation: landscape) {
                        height: calc(100% - 175rem / 16);
                        padding: calc-rem(20px) calc-rem(20px) 0;
                    }

                    @media only screen and (max-width: 1023px) and (orientation: landscape) {
                        height: calc(100% - 128rem / 16);
                        padding: calc-rem(20px) calc-rem(15px) 0;
                    }
                }

                .group__item__thumb {
                    margin-bottom: calc-rem(6px);

                    @media only screen and (max-width: 1024px) and (orientation: landscape) {
                        margin-bottom: calc-rem(4px);
                    }
                }

                .group__item__content {
                    @media only screen and (max-width: 1024px) and (orientation: landscape) {
                        margin-left: calc-rem(8px);
                    }
                }

                .group__customer__list {
                    @media only screen and (max-width: 1024px) and (orientation: landscape) {
                        flex-wrap: wrap;
                        align-items: center;

                        .group__item__inner {
                            flex-direction: row;
                        }

                        .group__item {
                            padding: 0;
                        }
                    }
                }

                .group__item {
                    @include bp(1025px, 0) {
                        min-width: calc-rem(220px);
                        margin-right: 2rem;

                        &__thumb {
                            width: 7rem;
                            height: 7rem;
                            border-width: 3px!important;
                            margin-bottom: calc-rem(10px);
                            border-radius: 50%;

                            img {
                                width: 60%;
                            }
                        }

                        &__icon {
                            top: 0rem!important;
                            left: 0rem!important;
                            .icon {
                                width: 2rem!important;
                                height: 2rem!important;
                            }
                        }
                        &--title,
                        &--notify {
                            font-size: calc-rem(26px);
                        }

                        &--title {
                            margin-bottom: calc-rem(10px);
                        }
                    }
                }

                &.no-head {
                    .group__customer--avatar {
                        @include bp(0, 1080px) {
                            width: 100%;
                            // height: calc(100% - (332rem / 16));
                            height: calc(100% - (430rem / 16));
                        }

                        @include bp(1025px, 1080px) {
                            .avatar-mainscreen>canvas {
                                height: calc(100vh - (430rem / 16));
                                // width: calc(100vh - (430rem / 16));
                                width: auto;
                                max-height: none;
                            }
                        }
    
                        @include bp('sp') {
                            width: 100%;
                            height: calc(100vh - 290rem / 16);
                        }
    
                        @include bp(0, 767px) {
                            width: 100%;
                            height: calc(100vh - 180rem / 16);
                        }

                        @media only screen and (max-width: 1024px) and (orientation: landscape) {
                            width: calc(100% - (300rem / 16));
                            height: 100vh;
                        }
    
                        @media only screen and (max-width: 1023px) and (orientation: landscape) {
                            width: calc(100% - (245rem / 16));
                            height: 100vh;
                        }
                    }
    
                    .group__customer__body {
                        
                        @include bp(0, 1080px) {
                            width: 100%;
                            // height: calc-rem(332px);
                            height: calc-rem(430px);
                        }
    
                        @include bp(0, 768px) {
                            width: 100%;
                            height: calc-rem(290px);
                        }
    
                        @include bp(0, 767px) {
                            width: 100%;
                            height: calc-rem(180px);
                        }

                        @media only screen and (max-width: 1024px) and (orientation: landscape) {
                            width: calc-rem(300px);
                            height: 100%;
                        }
    
                        @media only screen and (max-width: 1023px) and (orientation: landscape) {
                            width: calc-rem(245px);
                            height: 100%;
                        }
                    }

                    .group__customer__main {    
                        @include bp(0, 767px) {
                            width: 100%;
                            height: calc(100% - 38rem / 16);
                        }
                    }

                    &.list__web {
                        .group__web__area {
                            height: 50%;
        
                            @include bp(0, 1080px) {
                                height: 50%;
                            }
        
                            @include bp('sp') {
                                height: 27%;
                            }

                            @media only screen and (min-width: 1025px) and (max-width: 1080px) and (orientation: landscape) {
                                height: calc(100vh - 100%);
                            }
                        }
                        .group__customer--avatar {
                            height: 100%;
                            
                            .control__avatar {
                                height: 100%;
                            }
            
                            @include bp(0, 1080px) {
                                width: 100%;
                                height: 39.01%;
                                max-height: calc-rem(749px);
                            }
            
                            @include bp(0, 1024px) {
                                width: 100%;
                                height: 31.25%;
                                max-height: calc-rem(600px);
            
                                .control__avatar {
                                    height: 100%;
                                }
                            }

                            @media only screen and (min-width: 1025px) and (max-width: 1080px) and (orientation: landscape) {
                                height: 33%;
                            }
            
                            @media only screen and (max-width: 1024px) and (orientation: landscape) {
                                width: calc(100% - (300rem / 16));
                                height: 100%;
                                max-height: 100%;
                            }
            
                            @media only screen and (max-width: 812px) and (orientation: landscape) {
                                width: calc(100vw - 40.762% - (225rem / 16));
                                height: 100vh;
                            }
                        }
                        .group__customer__main {
                            width: 100%;
                            height: calc(100% - (50% + (90rem / 16)));
            
                            @include bp(0, 1080px) {
                                width: 100%;
                                height: calc(100% - (63.96242% + (85rem / 16)));
                            }
    
                            @include bp(0, 1024px) {
                                height: calc(100% - (50% + (85rem / 16)));
                            }
            
                            @include bp(0, 767px) {
                                min-height: calc(100% - (62.5% + (38rem / 16)));
                                height: auto;
                            }

                            @media only screen and (min-width: 1025px) and (max-width: 1080px) and (orientation: landscape) {
                                height: calc(100% - ((100vh - 100%) + (85rem / 16)));
                            }
    
                            @media only screen and (max-width: 1024px) and (orientation: landscape) {
                                height: calc(100% - (50% + (85rem / 16)));
                            }
            
                            @media only screen and (max-width: 812px) and (orientation: landscape) {
                                height: calc(100vh - 38rem / 16);
                            }
                        }
        
                        .group__customer__body {
                            height: 100%;
            
                            @include bp(0, 1080px) {
                                width: 100%;
                                height: calc(100% - 39.01%);
                            }
    
                            @include bp(0, 1024px) {
                                height: calc(100% - 31.25%);
                            }
            
                            @include bp(0, 767px) {
                                width: 100%;
                                // height: auto;
                                height: 100%;
                            }

                            @media only screen and (min-width: 1025px) and (max-width: 1080px) and (orientation: landscape) {
                                height: calc(100vh - 33%);
                            }
            
                            @media only screen and (max-width: 1024px) and (orientation: landscape) {
                                width: calc-rem(300px);
                                height: 100%;
                            }
            
                            @media only screen and (max-width: 812px) and (orientation: landscape) {
                                width: calc-rem(225px);
                            }
                        }
        
                        .group__customer__head {
                            @include bp(0, 1079px) {
                                height: calc-rem(90px);
            
                                p {
                                    -webkit-line-clamp: 3;
                                    -moz-line-clamp: 3;
                                    -ms-line-clamp: 3;
                                    line-clamp: 3;
                                }
                            }
                            // @include bp(0, 767px) {
                            //     height: calc-rem(45px);
            
                            //     p {
                            //         font-size: calc-rem(12px);
                            //         line-height: 1.3;
                            //         -webkit-line-clamp: 2;
                            //         -moz-line-clamp: 2;
                            //         -ms-line-clamp: 2;
                            //         line-clamp: 2;
                            //     }
                            // }
        
                            // @media only screen and (max-width: 812px) and (orientation: landscape) {
                            //     height: calc-rem(70px);
            
                            //     p {
                            //         font-size: calc-rem(12px);
                            //         line-height: 1.3;
                            //         -webkit-line-clamp: 3;
                            //         -moz-line-clamp: 3;
                            //         -ms-line-clamp: 3;
                            //         line-clamp: 3;
                            //     }
                            // }
                        }
    
                        .group__web__area {
                            @include bp(0, 1080px) {
                                height: 63.96242%;
                                max-height: calc-rem(749px);
                            }
    
                            @include bp(0, 1024px) {
                                width: 100%;
                                height: 50%;
                                max-height: calc-rem(600px);
            
                                .control__avatar {
                                    height: 100%;
                                }
                            }
    
                            @include bp(0, 767px) {
                                height: 31.25%;
                                position: static;
                                top: auto;
                                right: auto;
                            }
                
                            @include bp(0, 320px) {
                                height:  31.25%;
                            }
                
                            @media only screen and (max-width: 812px) and (orientation: landscape) {
                                height: 100%;
                                position: absolute;
                                z-index: 999;
                                width: 40.762%;
                                right: calc-rem(225px);
                                top: 0;
                            }
                        }
                    }
                }

                &.list__web {
                    @media only screen and (max-width: 812px) and (orientation: landscape) {
                        justify-content: space-between;
                    }
                    .group__web__area {
                        height: 50%;
    
                        @include bp(0, 1080px) {
                            height: 50%;
                        }
    
                        @include bp('sp') {
                            height: 27%;
                        }
                    }
                    .group__customer--avatar {
                        height: 100%;
                        
                        .control__avatar {
                            height: 100%;
                        }
        
                        @include bp(0, 1080px) {
                            width: 100%;
                            height: 38.54166%;
                            max-height: calc-rem(740px);
                        }
        
                        @include bp(0, 1024px) {
                            width: 100%;
                            height: 31.25%;
                            max-height: calc-rem(600px);
        
                            .control__avatar {
                                height: 100%;
                            }
                        }

                        @include bp(0, 768px) {
                            width: 100%;
                            height: 27%;
                            max-height: calc-rem(600px);
        
                            .control__avatar {
                                height: 100%;
                            }
                        }

                        @media only screen and (min-width: 1025px) and (max-width: 1080px) and (orientation: landscape) {
                            width: 100%;
                            height: 25%;
                        }
        
                        @media only screen and (max-width: 1024px) and (orientation: landscape) {
                            width: calc(100% - (300rem / 16));
                            height: 100%;
                            max-height: 100%;
                        }
        
                        @media only screen and (max-width: 812px) and (orientation: landscape) {
                            width: calc(100vw - 40.762% - (225rem / 16));
                            height: 100vh;
                        }
                    }
                    .group__customer__main {
                        width: 100%;
                        height: calc(100% - (50% + (230rem / 16)));
        
                        @include bp(0, 1080px) {
                            width: 100%;
                            height: calc(100% - (62.71186% + (205rem / 16)));
                        }

                        @include bp(0, 1024px) {
                            height: calc(100% - (50% + (175rem / 16)));
                        }
        
                        @include bp(0, 768px) {
                            min-height: calc(100% - (54% + (175rem / 16)));
                            height: auto;
                        }

                        @include bp(0, 767px) {
                            min-height: calc(100% - (54% + (128rem / 16)));
                        }

                        @media only screen and (min-width: 1025px) and (max-width: 1080px) and (orientation: landscape) {
                            height: calc(100% - ((100vh - 100%) + (175rem / 16)));
                        }

                        @media only screen and (max-width: 1024px) and (orientation: landscape) {
                            height: calc(100% - (50% + (175rem / 16)));
                        }
        
                        @media only screen and (max-width: 812px) and (orientation: landscape) {
                            height: calc(100vh - 128rem / 16);
                        }
                    }
    
                    .group__customer__body {
                        height: 100%;
        
                        @include bp(0, 1080px) {
                            width: 100%;
                            height: calc(100% - 38.54166%);
                        }

                        @include bp(0, 1024px) {
                            height: calc(100% - 31.25%);
                        }
        
                        @include bp(0, 768px) {
                            width: 100%;
                            // height: auto;
                            height: 100%;
                        }

                        @media only screen and (min-width: 1025px) and (max-width: 1080px) and (orientation: landscape) {
                            height: calc(100% - 25%);
                        }
        
                        @media only screen and (max-width: 1024px) and (orientation: landscape) {
                            width: calc-rem(300px);
                            height: 100%;
                        }
        
                        @media only screen and (max-width: 812px) and (orientation: landscape) {
                            width: calc-rem(225px);
                        }
                    }
    
                    .group__customer__head {
                        @include bp(0, 1079px) {
                            height: calc-rem(90px);
        
                            p {
                                -webkit-line-clamp: 3;
                                -moz-line-clamp: 3;
                                -ms-line-clamp: 3;
                                line-clamp: 3;
                            }
                        }
                        // @include bp(0, 767px) {
                        //     height: calc-rem(45px);
        
                        //     p {
                        //         font-size: calc-rem(12px);
                        //         line-height: 1.3;
                        //         -webkit-line-clamp: 2;
                        //         -moz-line-clamp: 2;
                        //         -ms-line-clamp: 2;
                        //         line-clamp: 2;
                        //     }
                        // }
    
                        // @media only screen and (max-width: 812px) and (orientation: landscape) {
                        //     height: calc-rem(70px);
        
                        //     p {
                        //         font-size: calc-rem(12px);
                        //         line-height: 1.3;
                        //         -webkit-line-clamp: 3;
                        //         -moz-line-clamp: 3;
                        //         -ms-line-clamp: 3;
                        //         line-clamp: 3;
                        //     }
                        // }
                    }

                    .group__web__area {
                        @include bp(0, 1080px) {
                            height: 62.71186%;
                            max-height: calc-rem(740px);
                        }

                        @include bp(0, 1024px) {
                            width: 100%;
                            height: 50%;
                            max-height: calc-rem(600px);
        
                            .control__avatar {
                                height: 100%;
                            }
                        }

                        @include bp(0, 768px) {
                            height: 27%;
                            position: static;
                            top: auto;
                            right: auto;
                        }
            
                        @include bp(0, 320px) {
                            height:  27%;
                        }

                        @media only screen and (min-width: 1025px) and (max-width: 1080px) and (orientation: landscape) {
                            height: calc(100vh - 100%);
                        }
            
                        @media only screen and (max-width: 812px) and (orientation: landscape) {
                            height: 100%;
                            position: absolute;
                            z-index: 999;
                            width: 40.762%;
                            right: calc-rem(225px);
                            top: 0;
                        }
                    }
                }

                &.group__customer__onegr {
                    .group__customer__head {
                        @include bp(1025px, 1080px) {
                            min-height: calc-rem(90px);
                            height: auto;
                            max-height: calc-rem(355px);
                            padding: calc-rem(40px);
                            font-size: calc-rem(30px);
                            font-weight: bold;

                            p {
                                -webkit-line-clamp: 7;
                                -moz-line-clamp: 7;
                                -ms-line-clamp: 7;
                                line-clamp: 7;
                                text-align: left!important;
                                white-space: pre-wrap;
                            }

                            .width--815 {
                                max-width: 100%!important;
                            }
                        }
                    }
                    .group__customer--avatar {
                        @include bp(1025px, 1080px) {
                            height: calc(100% - (750rem / 16));

                            .avatar-mainscreen>canvas {
                                height: calc(100vh - (750rem / 16));
                                width: auto;
                                max-height: none;
                            }
                        }
                    }
                    .group__customer__body {
                        @include bp(1025px, 1080px) {
                            height: calc-rem(750px);
                        }
                    }

                    .group__customer__main {
                        @include bp(1025px, 1080px) {
                            max-height: calc(100% - 90rem / 16);
                            min-height: calc(100% - 355rem / 16);
                            height: 100%;
                            padding-top: calc-rem(76px);
                        }
                    }

                    .group__customer__list {
                        @include bp(1025px, 1080px) {
                            justify-content: center;
                        }
                    }
                    .group__item {
                        @include bp(1025px, 1080px) {
                            width: 100%;

                            &__thumb {
                                width: calc-rem(176px);
                                height: calc-rem(176px);
                                border-width: calc-rem(8px)!important;
                                margin-bottom: calc-rem(10px);
                                border-radius: 50%;

                                img {
                                    width: 60%;
                                }
                            }

                            &__icon {
                                top: calc-rem(-26px)!important;
                                left: calc-rem(-26px)!important;
                                .icon {
                                    width: calc-rem(54px);
                                    height: calc-rem(54px);
                                }
                            }
                            &--title,
                            &--notify {
                                font-size: calc-rem(26px);
                            }

                            &--title {
                                margin-bottom: calc-rem(10px);
                            }
                        }
                    }
                }
            }
        }

        &__vertical {
            width: 100%;
            height: 100vh;

            @media only screen and (max-width: 812px) and (orientation: landscape) {
                display: flex;
                flex-wrap: nowrap;
                align-items: flex-start;
                justify-content: center;
                width: auto;
            }

            .group__customer--avatar,
            .group__customer__body {
                height: 50vh;
            }

            .control__avatar {
                height: 100%;
            }

            .group__customer--avatar {

                @media only screen and (max-width: 812px) and (orientation: landscape) {
                    width: calc(100vw - 245rem/16);
                    height: 100vh;
                }
                @include bp('sp') {
                    height: calc(100vh - 205rem/16);
                }
            }

            .group__customer__main {
                height: calc(100% - 225rem/16);
                
                @media only screen and (max-width: 812px) and (orientation: landscape) {
                    height: calc(100vh - 108rem/16);
                }

                @include bp('sp') {
                    height: auto;
                }
            }

            .group__customer__body {

                @media only screen and (max-width: 812px) and (orientation: landscape) {
                    width: calc-rem(245px);
                    height: 100%;
                }
                @include bp('sp') {
                    width: 100%;
                }
            }

            &-list {
                @include bp('pc') {
                    .group__customer__grid {
                        flex-wrap: nowrap;
                        align-items: flex-start;
                        max-width: none;
                        padding: calc-rem(9px) calc-rem(30px) 0 calc-rem(20px);
                    }

                    .group__item {
                        margin-bottom: 0;

                        &:nth-child(3n) {
                            margin-right: calc-rem(30px);
                        }
                    }
                }
            }
        }

        &__wait {
            &__item {
                &__thumb {
                    position: relative;
                    margin: 0 auto;
                    border: calc-rem(2px) solid $color_green;
                    border-radius: calc-rem(6px);
                    @include size(221px, 225px);

                    .thumb {
                        height: 100%;
                        border-radius: 50%;

                        img {
                            height: 100%;
                        }
                    }
                }

                &__video {
                    iframe {
                        width: 100%;
                        // height: calc-rem(508px);
                        height: auto;
                        border: calc-rem(1px) solid $color_gray;
                    }
                }

                &--title,
                &--notify {
                    font-size: calc-rem(24px);
                    font-weight: 300;
                    letter-spacing: calc-rem(0.24px);

                    p {
                        margin-bottom: 0;
                    }
                }

                &--notify {
                    color: $color_green;
                }

                &.active {
                    .group__customer__wait__item__icon {
                        @include position(absolute, 'tl', -26px, -31px, 2, null, null);

                        .icon--status {
                            @include size(74.5px, 74.5px);
                        }
                    }
                }
            }

            &__text {
                padding: 0 calc-rem(45px);

                p {
                    margin-bottom: 0;
                    font-size: calc-rem(24px);
                    font-weight: 300;

                    span {
                        color: $color_red;
                    }
                }
            }

            &__phone {
                .icon--phone-red {
                    cursor: pointer;
                }
            }

            @include bp(0, 768px) {
                &__item {
                    &__thumb {
                        @include size(161px, 165px);
                    }

                    &__video {
                        iframe {
                            height: calc-rem(350px);
                        }
                    }

                    &--title,
                    &--notify {
                        font-size: calc-rem(20px);
                    }

                    &.active {
                        .group__customer__wait__item__icon {
                            .icon--status {
                                @include size(54.5px, 54.5px);
                            }
                        }
                    }
                }

                &__text {
                    padding: 0;

                    p {
                        font-size: calc-rem(20px);
                    }
                }
            }
        }

        &--avatar {
            position: relative;
            overflow: hidden;
            
            > img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__item {
        &__inner {
            @include flex(null, center, center);

            @include bp(0, 767px) {
                flex-direction: column;
            }

            .group__customer__horizontal-list & {
                @include bp(0, 767px) {
                    flex-direction: column;
                }
            }

            @media only screen and (max-width: 812px) and (orientation: landscape) {
                flex-direction: row;
            }
        }

        &__thumb {
            position: relative;
            width: calc-rem(88px);
            height: calc-rem(88px);
            border-radius: 50%;

            .thumb {
                overflow: hidden;
                border-radius: 50%;
            }

            @include bp(0, 767px) {
                width: calc-rem(54px);
                height: calc-rem(54px);
                margin: 0 auto;
                border-radius: calc-rem(4px);
                margin-bottom: calc-rem(4px);

                .thumb {
                    border-radius: 50%;
                }
            }

            .group__customer__horizontal-list & {
                @include bp(0, 767px) {
                    width: calc-rem(54px);
                    height: calc-rem(54px);
                    margin: 0 auto;
                    border-radius: calc-rem(4px);
                    margin-bottom: calc-rem(4px);
    
                    .thumb {
                        border-radius: 50%;
                    }
                }
            }

            @media only screen and (max-width: 812px) and (orientation: landscape) {
                width: calc-rem(54px);
                height: calc-rem(54px);
                margin: 0 auto;
                border-radius: calc-rem(4px);
                margin-bottom: calc-rem(4px);

                .thumb {
                    border-radius: 50%;
                }
            }
        }

        &__content {
            margin-left: calc-rem(15px);
            flex: 1;
            width: 10rem;

            @include bp(0, 1080px) {
                margin-left: calc-rem(10px);
            }

            @include bp(0, 767px) {
                margin-left: 0;
                text-align: center;
            }

            @media only screen and (max-width: 812px) and (orientation: landscape) {
                margin-left: calc-rem(8px);
                text-align: left;
            }
        }

        &--title {
            font-weight: 200;
            color: $color_base;
            letter-spacing: calc-rem(0.18px);
            margin-bottom: calc-rem(2px);
            @include font-size(18, 24);
            word-break: break-word;
            * {
                margin-bottom: 0;
            }
            @include bp(0, 767px) {
                margin-bottom: calc-rem(3px);
                @include font-size(14, 20);
            }

            .group__customer__horizontal-list & {
                @include bp(0, 767px) {
                    margin-bottom: calc-rem(3px);
                    @include font-size(14, 20);
                }
            }

            @media only screen and (max-width: 812px) and (orientation: landscape) {
                margin-bottom: calc-rem(3px);
                @include font-size(14, 20);
            }
        }

        &--notify {
            display: block;
            font-weight: 200;
            @include font-size(18, 24);

            @include bp(0, 767px) {
                @include font-size(14, 20);
            }
            .group__customer__horizontal-list & {
                @include bp(0, 767px) {
                    @include font-size(14, 20);
                }
            }
            @media only screen and (max-width: 812px) and (orientation: landscape) {
                @include font-size(14, 20);
            }
        }

        &.active {
            .group__item__thumb {
                border: calc-rem(4px) solid $color_green;
            }

            .group__item--notify {
                color: $color_green;
            }

            .group__item__icon {
                position: absolute;
                top: -1rem;
                left: -1rem;
            }

            @include bp(0, 767px) {
                .group__item__thumb {
                    border-width: calc-rem(1px);
                }

                .group__item__icon {
                    top: -1rem;
                    left: -1rem;
                }

                .icon--status {
                    @include size(19px, 19px);
                }
            }

            .group__customer__horizontal-list & {
                @include bp(0, 767px) {
                    .group__item__thumb {
                        border-width: calc-rem(1px);
                    }
    
                    .group__item__icon {
                        top: -1rem;
                        left: -1rem;
                    }
    
                    .icon--status {
                        @include size(19px, 19px);
                    }
                }
            }

            @media only screen and (max-width: 812px) and (orientation: landscape) {
                .group__item__thumb {
                    border-width: calc-rem(1px);
                }

                .group__item__icon {
                    top: -1rem;
                    left: -1rem;
                }

                .icon--status {
                    @include size(19px, 19px);
                }
            }
        }

        &.no-active {
            .group__item__thumb {
                border: calc-rem(4px) solid $color_base;
            }

            .group__item--notify {
                color: $color_base;
            }

            .group__item__icon {
                position: absolute;
                top: -1rem;
                left: -1rem;
            }

            @include bp(0, 767px) {
                .group__item__thumb {
                    border-width: calc-rem(1px);
                }

                .group__item__icon {
                    top: -1rem;
                    left: -1rem;
                }

                .icon--status {
                    @include size(19px, 19px);
                }
            }

            .group__customer__horizontal-list & {
                @include bp(0, 767px) {
                    .group__item__thumb {
                        border-width: calc-rem(1px);
                    }
    
                    .group__item__icon {
                        top: -1rem;
                        left: -1rem;
                    }
    
                    .icon--status {
                        @include size(19px, 19px);
                    }
                }
            }

            @media only screen and (max-width: 812px) and (orientation: landscape) {
                .group__item__thumb {
                    border-width: calc-rem(1px);
                }

                .group__item__icon {
                    top: -1rem;
                    left: -1rem;
                }

                .icon--status {
                    @include size(19px, 19px);
                }
            }
        }
    }

    &__choose {
        &__main {
            text-align: center;
            padding-top: calc-rem(85px);

            p {
                font-size: calc-rem(18px);
                margin-bottom: calc-rem(30px);
            }
        }
        &__item {
            @include bp('pc') {
                width: 100%;
                max-width: calc-rem(624px);
                margin-left: auto;
                margin-right: auto;
                margin-bottom: calc-rem(64px);
            }

            >p {
                text-align: center;
                font-size: calc-rem(18px);
            }
        }

        &__list {
            position: relative;
            max-width: calc-rem(624px);
            overflow: auto;
            margin: 0 auto;
            border-top: calc-rem(1px) solid $color_gray;
            padding-top: calc-rem(20px);
            padding-left: calc-rem(2px);
            padding-right: calc-rem(2px);
            @include flex(null, center, flex-start);
            flex-wrap: nowrap;

            .group__item__avt {
                min-width: calc-rem(100px);
                margin: 0 calc-rem(30px) calc-rem(30px) 0;
                background-color: $color_gray_2;
                border-radius: 0;
                cursor: pointer;
                @include size(100px, 100px);
                @include flex(null, center, center);

                .thumb {
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background-size: cover !important;
                    border-radius: 0;
                    margin-bottom: 0;

                    img {
                        top: auto;
                        bottom: 0;
                        width: auto;
                        height: 98%;
                        transform: translate(-50%, 0);
                    }
                }

                p {
                    font-size: calc-rem(14px);
                    font-weight: 100;
                    margin-bottom: 0;
                }

                &.active,
                &:hover {
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        z-index: 901;
                        top: calc-rem(-2px);
                        right: calc-rem(-2px);
                        bottom: calc-rem(-2px);
                        left: calc-rem(-2px);
                        border: calc-rem(4px) solid $color_green;
                        pointer-events: none;
                    }
                }
                // &:nth-child(5n+5) {
                //     margin-right: 0;
                // }
            }
        }

        &__button {
            padding: calc-rem(20px) 0;

            .btn {
                margin: 0 auto calc-rem(45px);
            }
        }

        &--lg {
            margin: 0 auto;
            background-color: $color_gray_2;
            margin-bottom: calc-rem(64px);
            @include size(150px,150px);

            .thumb {
                img {
                    top: auto;
                    bottom: 0;
                    width: auto;
                    height: 100%;
                    transform: translate(-50%, 0);
                }
            }
        }

        @media only screen and (max-width: 1080px) and (orientation: portrait) {
            &__main {
                padding-top: calc-rem(50px);
            }
            &__button {
                .btn {
                    margin-bottom: calc-rem(65px)!important;
                }
            }
        }

        @include bp(0, 768px) {
            &__main {
                padding: calc-rem(20px) 0;

                p {
                    margin-bottom: calc-rem(20px);
                }
            }

            &__item {
                position: static;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 0;
            }

            &__list {
                .group__item__avt {
                    margin: 0 calc-rem(10px) calc-rem(15px) 0;
                    @include size(100px, 100px);
                }
            }

            &__button {
                background-color: $color_white;
                padding: calc-rem(20px) 0;
                // @include position(absolute, 'bl', 0, 0, 99, 100%, null);

                .btn {
                    margin-bottom: 0!important;
                }
            }
            &--lg {
                margin-bottom: 0!important;
            }
        }

        // @media only screen and (min-width: 1024px) and (orientation: portrait) {
        //     &__button {
        //         position: static;
        //         padding: calc-rem(20px) 0;

        //         .btn {
        //             margin-bottom: 0!important;
        //         }
        //     }
        // }

        @media only screen and (max-width: 1024px) and (orientation: landscape) {
            &__button {
                position: static;
                padding: calc-rem(20px) 0;

                .btn {
                    margin-bottom: 0!important;
                }
            }
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
            &__main {
                padding: calc-rem(10px) 0;

                p {
                    margin-bottom: calc-rem(10px);
                }
            }

            &__item {
                padding-bottom: 0;
                margin-bottom: 0!important;

                .group__item__avt {
                    margin: 0 calc-rem(10px) calc-rem(15px) 0;
                    min-width: calc-rem(80px);
                    @include size(80px, 80px);

                    p {
                        letter-spacing: calc-rem(-2px);
                    }
                }

                >p {
                    margin-bottom: calc-rem(8px) !important;
                }
            }

            &__list {
                padding-top: calc-rem(10px);
            }

            &__button {
                position: static;
                padding: calc-rem(5px) 0;

                .btn {
                    margin-bottom: 0!important;
                }
            }

            &--lg {
                @include size(120px, 120px);
                margin-bottom: 0!important;
            }
        }
    }

    &__web {
        &__area {
            // height: 50%;
            max-height: calc-rem(600px);
            -webkit-overflow-scrolling: touch!important;

            iframe {
                border: none;
            }

            @include bp(0, 1080px) {
                // height: 50%;
                max-height: calc-rem(600px);
            }

            @include bp(0, 768px) {
                // height: 27%;
                position: static;
                top: auto;
                right: auto;
            }

            // @include bp(0, 320px) {
            //     height: 27%;
            // }

            @media only screen and (max-width: 812px) and (orientation: landscape) {
                height: 100%!important;
                position: absolute;
                z-index: 999;
                width: 40.762%;
                right: calc-rem(225px);
                top: 0;
            }
        }

        &__inner {
            height: 100%;
            overflow: auto;
            -webkit-overflow-scrolling: touch!important;
        }
    }
}

.show__group {
    cursor: pointer;
    @include position(absolute, 'br', 36px, 30px, 9, 36px, 30px);

    @include bp('sp') {
        right: calc-rem(15px);
        bottom: calc-rem(15px);
        @include size(22px, 18px);
    }

    span {
        display: block;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }
}