/* ==========================================================================
   #Header
   ========================================================================== */

.header {
    background-color: $color_gray_4;
    position: relative;
    z-index: 9999;

    @include bp(0, 812px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: calc-rem(60px);
    }

    &__nav {
        @include flex(null, center, flex-start);
        width: 100%;
        position: relative;
        min-height: calc-rem(45px);

        @include bp(0, 812px) {
            display: none;
        }

        &__left {
            width: calc(100% - 400rem / 16);
            padding-left: calc-rem(20px);
            @include flex(null, center, flex-start);
        }

        &__right {
            width: calc-rem(400px);
        }
    }

    &__sp {
        min-height: calc-rem(60px);
        @include flex(null, center, center);

        @include bp(813px, 0) {
            display: none;
        }
    }

    &__logo {
        &--sp {
            width: calc-rem(132px);
            height: auto;
            img {
                width: 100%;
            }
        }
    }

}
.online__mode,
.offline__mode {
    @include font-size(18, 18);
    font-weight: 300;
    color: $color_base;
}

.offline__mode {
    color: $color_red;
}

.control__switch {
    margin: 0 calc-rem(15px);
    position: relative;

    &--label {
        position: relative;
        display: block;
        cursor: pointer;

        &::before,
        &::after {
            position: absolute;
            content: "";
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        &::before {
            position: static;
            border: calc-rem(1px) solid $color_base;
            width: calc-rem(46px);
            height: calc-rem(22px);
            pointer-events: all;
            border-radius: calc-rem(12px);
            display: block;
        }

        &::after {
            background-color: $color_base;
            width: calc-rem(18px);
            height: calc-rem(18px);
            border-radius: 50%;
            display: block;
            top: calc-rem(3px);
            left: calc-rem(3px);
        }
    }

    &--input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked~label.control__switch--label {
            &::before {
                background-color: $color_green;
                border-color: $color_green;
            }
            &::after {
                background-color: $color_white;
                left: calc(100% - 21rem / 16);
            }
        }
    }
}