/* ==========================================================================
   #Icons
   ========================================================================== */

/* prettier-ignore */
.icon {
    display: inline-block;
    @include bg-image('', no-repeat, center, center, contain);

    &--btn_sort-up {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}