/* ==========================================================================
   #Label
   ========================================================================== */

.label {
    &--error {
        // display: none;
        color: $color_red;
        font-weight: 100;
        @include font-size(16, 24);
    }
}