.b2b-loader {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color_black, 0.6);

    &__container {
        width: 100%;
        height: 100%;
        @include flex(null, center, center);
    }

    &__icon {
        @include size(77px, 77px);
        position: relative;
        display: inline-block;

        span {
            -webkit-transform-origin: calc-rem(40px) calc-rem(40px);
            transform-origin: calc-rem(40px) calc-rem(40px);
            -webkit-animation: spin 1.2s linear infinite;
            animation: spin 1.2s linear infinite;
            display: block;
        }
        span::after {
            background-color: $color_white;
            content: " ";
            display: block;
            position: absolute;
            top: calc-rem(3px);
            left: calc-rem(40px);
            width: calc-rem(4px);
            height: calc-rem(18px);
            border-radius: calc-rem(4px);
        }
        span:nth-child(1) {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
        }
        span:nth-child(2) {
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
            -webkit-animation-delay: -1s;
            animation-delay: -1s;
        }
        span:nth-child(3) {
            -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
        }
        span:nth-child(4) {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
        }
        span:nth-child(5) {
            -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
            -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s;
        }
        span:nth-child(6) {
            -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
            -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
        }
        span:nth-child(7) {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
        }
        span:nth-child(8) {
            -webkit-transform: rotate(210deg);
            transform: rotate(210deg);
            -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
        }
        span:nth-child(9) {
            -webkit-transform: rotate(240deg);
            transform: rotate(240deg);
            -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
        }
        span:nth-child(10) {
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
            -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
        }
        span:nth-child(11) {
            -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
            -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
        }
        span:nth-child(12) {
            -webkit-transform: rotate(330deg);
            transform: rotate(330deg);
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }
    }
}

@-webkit-keyframes spin {
0% { opacity: 1; }
100% { opacity: 0; }
}

@keyframes spin {
0% { opacity: 1; }
100% { opacity: 0; }
}