/* ==========================================================================
   #Modal
   ========================================================================== */
.modal-open {
    overflow: hidden;
    position: relative;
    height: 100%;
}
.b2b-modal {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color_black, 0.6);
    overflow: auto;

    @include bp('sp') {
        // padding: calc-rem(30px) calc-rem(15px);
    }
    
    &__wraper {
        // width: 100%;
        // height: 100%;
        min-height: calc(100% - (1.75rem * 2));
        margin: 1.75rem auto;
        @include flex(null, center, center);
        overflow: auto;

        @include bp(0, 768px) {
            overflow: auto;
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
            overflow: auto;
        }
    }

    &__container {
        width: 100%;
        max-width: calc-rem(500px);
        padding: calc-rem(30px) calc-rem(65px) calc-rem(35px);
        background-color: $color_white;
        position: relative;

        @include bp(0, 768px) {
            padding: calc-rem(20px) calc-rem(30px);
        }

        &--b {
            max-width: calc-rem(1184px);
            padding: 0;

            @media only screen and (max-width: 1080px) and (orientation: portrait) {
                max-width: calc-rem(900px);
            }
        }

        &-c {
            max-width: calc-rem(900px);
            padding: calc-rem(85px) calc-rem(29px) calc-rem(25px);

            @include bp(0, 768px) {
                padding: calc-rem(30px) calc-rem(20px);
            }
        }

        &__room {
            position: relative;
            padding: calc-rem(43px) calc-rem(20px) calc-rem(90px);
            .modal__content {
                margin-bottom: 0;
                overflow: visible;
                max-height: none;
                p:not(:last-child) {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__end {
        justify-content: flex-end;
        align-items: flex-end;
        .b2b-modal__container {
            padding: 0;
        }
        .modal__content {
            margin: 0;
            li {
                border-bottom: calc-rem(1px) solid $color_gray;
                min-height: calc-rem(80px);
                @include flex(null, center, center);
                font-weight: 300;
                letter-spacing: calc-rem(0.16px);
                a {
                    color: $color_green;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    &__choose {
        &--rgt {
            // max-width: calc-rem(500px);
            width: 42.22973%;
            padding: calc-rem(85px) calc-rem(31px) 0;
            box-shadow: calc-rem(2.4px) calc-rem(2.4px) calc-rem(40px) 0 rgba(0, 0, 0, 0.08);

            > p{
                @include font-size(18, 26);
                font-weight: 300;
                letter-spacing: calc-rem(0.18px);
            }
        }
        &-screen {
            background-color: $color_gray;
            height: calc-rem(278px);
            width: 100%;
            text-align: center;
            overflow: hidden;
            position: relative;
            // fix bg
            background-position: center center;
            background-size: cover !important;
            background-repeat: no-repeat;
    
            > img {
                object-fit: cover;
                max-width: 100%;
                height: auto;
                max-height: 100%;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
    
                @include bp("sp") {
                    max-width: 90%;
                }
            }

            @include bp("sp") {
                height: calc-rem(200px);
            }

            @media only screen and (max-width: 812px) and (orientation: landscape) {
                @include size(150px, 150px);
            }
        }
        &--lf {
            padding: 0 calc-rem(29px);
            width: calc(100% - 42.22973%);
            margin: 0 auto;
        }

        @media only screen and (max-width: 1080px) and (orientation: portrait) {
            &--rgt {
                width: 100%;
                box-shadow: 0 calc-rem(3px) calc-rem(6px) rgba(0,0,0,0.16);
                padding: calc-rem(30px) calc-rem(30px) calc-rem(50px);

                >p {
                    @include font-size(14, 24);
                    margin-bottom: calc-rem(50px)!important;
                }
            }
            &--lf {
                padding: 0 calc-rem(15px);
                width: 100%;
                margin: 0 auto;
            }
        }

        @include bp(0, 768px) {
            &--rgt {
                width: 100%;
                box-shadow: 0 calc-rem(3px) calc-rem(6px) rgba(0,0,0,0.16);
                padding: calc-rem(20px) calc-rem(30px);

                >p {
                    @include font-size(14, 24);
                    margin-bottom: calc-rem(15px) !important;
                }
            }
            &--lf {
                padding: 0 calc-rem(15px);
                width: 100%;
                margin: 0 auto;
            }
        }

        @media only screen and (max-width: 1024px) and (orientation: landscape) {
            &--rgt {
                width: 33.00492%;
                padding: calc-rem(10px) calc-rem(15px);
                @include flex(column, center, flex-start);
            }

            &--lf {
                width: 66.99508%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
        }

        // @media only screen and (min-width: 1024px) and (orientation: portrait) {
        //     &--rgt {
        //         width: 33.00492%;
        //         padding: calc-rem(10px) calc-rem(15px);
        //         @include flex(column, center, flex-start);
        //     }

        //     &--lf {
        //         width: 66.99508%;
        //         display: flex;
        //         flex-direction: column;
        //         justify-content: flex-start;
        //     }
        // }
    }
}