/* ==========================================================================
   #Navbar
   ========================================================================== */

.nav {
   &__list {
      @include flex(null, center, center);
      margin: 0;
   }

   &__item {
      &:not(:last-child) {
         margin-right: calc-rem(40px);
      }
      a {
         color: $color_base;
         @include font-size(18, 18);
         font-weight: 300;
         -webkit-transition: all 0.3s ease;
         transition: all 0.3s ease;

         &:hover {
            opacity: 0.7;
         }
      }
      &--thumb {
         background: $color_gray_2;
         border: calc-rem(1px) solid rgba($color_black, 0.15);
         position: relative;
         width: calc-rem(33px);
         height: calc-rem(33px);
         display: block;
         overflow: hidden;
         border-radius: 50%;
         margin-right: calc-rem(20px);

         img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            object-position: center;
         }
      }

      &--account {
         a {
            @include flex(null, center, flex-start);
         }
      }
   }

   &__button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc-rem(16px);
      display: block;
      border: none;
      padding: 0;
      width: calc-rem(30px);
      height: calc-rem(23px);
      background-color: transparent;
      margin-left: auto;
      span {
          position: relative;
          display: block;
          &::before,
          &::after {
              content: "";
              position: absolute;
              left: 0;
              top: calc-rem(-10px);
          }
          &::after {
              top: calc-rem(10px);
          }
      }
      span,
      span::before,
      span::after {
          width: 100%;
          height: calc-rem(3px);
          border-radius: calc-rem(2px);
          background-color: $color_base;
          transition: all .3s;
      }
      &.open {
          z-index: 999;
          span {
              background-color: transparent !important;
              &::before {
                  top: 0;
                  transform: rotate(45deg);
              }
              &::after {
                  top: 0;
                  transform: rotate(-45deg);
              }
          }
      }
  }
}