/* ==========================================================================
   #Ope table
   ========================================================================== */

.table {
  &__operator {
    border: none;
    padding-left: 0;
    padding-right: 0;
    @include bp(0, 812px) {
      &.table__group:not(:last-child) {
        margin-bottom: 0;
      }
    }
    .table__main {
      height: auto;
    }
    tr {
      th, td {
          &:first-child {
              padding-left: calc-rem(15px);
          }
          &:nth-child(2) {
              padding-left: calc-rem(15px);
          }
          &:nth-child(3), &:nth-child(4) {
              text-align: center;
          }
          width: auto!important;
          padding-left: calc-rem(10px);
          max-width: calc-rem(300px);
          min-width: calc-rem(160px);
      }
      th {
          font-size: calc-rem(16px);
          cursor: pointer;

          .icon {
              display: inline-block;
              margin-right: calc-rem(8px);
          }

          p {
              display: inline-block;
          }
      }
    }
  }
}