/* ==========================================================================
   #Section
   ========================================================================== */

.section {
    margin-top: calc-rem(23px);

    &__heading {
        padding: calc-rem(20px) 0;
    }
}

.main__col {
    width: 100%;
    position: relative;

    @include bp(813px, 0) {
        width: calc(100% - (660rem / 16));
        padding: calc-rem(20px) calc-rem(40px);
        box-shadow: calc-rem(2.4px) calc-rem(2.4px) calc-rem(40px) 0 rgba(0, 0, 0, 0.08);

        .left--sm & {
            width: calc(100% - (455rem / 16));
        }

        .main__dashboard & {
            width: calc(100% - (520rem / 16));
            padding-left: calc-rem(20px);
            padding-right: calc-rem(20px);
        }
    }

    .timerep__logo {
        bottom: calc-rem(170px);

        @include bp("sp") {
            display: none;
        }
    }

    &2{
        width: 100%;
        position: relative;

        @include bp("pc") {
            width: calc(100% - (400rem / 16));
            box-shadow: calc-rem(2.4px) calc-rem(2.4px) calc-rem(40px) 0 rgba(0, 0, 0, 0.08);
        }

        @include bp(812px, 1080px) {
            width: 100%;
        }

        .timerep__logo {
            bottom: calc-rem(170px);

            @include bp("sp") {
                display: none;
            }
        }
    }

    &--noleft {
        width: 100%;
        position: relative;

        @include bp("pc") {
            width: calc(100% - (400rem / 16));
        }

        @include bp(0, 812px) {
            width: 100%;
        }
    }

    &--noright {
        width: 100%;
        position: relative;

        @include bp("pc") {
            width: calc(100% - (260rem / 16));
        }

        @include bp(0, 812px) {
            width: 100%;
        }
    }

    &--flex {
        @include flex();

        @include bp("pc") {
            height: 100%;
        }

        @include bp(0, 768px) {
            height: auto;
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
            align-items: flex-start;
            height: 100%;
        }
    }
}

.col {
    &--avt {
        background-color: $color_white;
        width: 100%;

        @include bp("pc") {
            width: 42.16868%;
            box-shadow: calc-rem(2.4px) calc-rem(2.4px) calc-rem(40px) 0 rgba(0, 0, 0, 0.08);
        }

        @include bp(0, 1366px) {
            padding: 0 calc-rem(10px);
        }

        @include bp(0, 768px) {
            width: 100%;
            padding-bottom: 1.25rem;
        }

        @include bp("sp") {
            box-shadow: 0 calc-rem(3px) calc-rem(6px) 0 rgba(0, 0, 0, 0.16);
            padding-bottom: calc-rem(20px);
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
            width: 33.00492%;
            height: calc(100vh - 60rem / 16);
            padding-bottom: 0;
        }

        &-list {
            width: 100%;

            @include bp("pc") {
                width: 57.83132%;
            }

            @include bp(0, 768px) {
                width: 100%;
            }

            @media only screen and (max-width: 812px) and (orientation: landscape) {
                width: 66.99508%;
            }
        }
    }

    &__center {
        @include flex(column, center, center);
        width: 100%;
        height: 100%;
    }
}

.default {
    &__avt{
        @include flex(column, center, center);
        width: 100%;
        height: 100%;

        @include bp(0, 768px) {
            padding: calc-rem(20px) 0 0;
            height: auto;
        }

        @media only screen and (max-width: 960px) and (orientation: landscape) {
            padding-top: calc-rem(20px);
            justify-content: flex-start;
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
            padding-top: calc-rem(10px);
            justify-content: flex-start;
        }

        &__title {
            @include font-size(24, 24);
            font-weight: 400;
            letter-spacing: calc-rem(0.24px);
            text-align: center;
            margin-bottom: calc-rem(40px);

            * {
                margin: 0;
            }

            @include bp(0, 812px) {
                @include font-size(18, 24);
                margin-bottom: calc-rem(20px);
            }

            @media only screen and (max-width: 812px) and (orientation: landscape) {
                margin-bottom: calc-rem(10px);
            }
        }

        &--screen {
            width: calc-rem(424px);
            height: calc-rem(424px);

            @include bp(0, 1366px) {
                width: calc-rem(300px);
                height: calc-rem(300px);
            }

            @include bp(0, 768px) {
                width: calc-rem(200px);
                height: calc-rem(200px);
            }

            @include bp(0, 767px) {
                width: calc-rem(150px);
                height: calc-rem(150px);
            }

            @media only screen and (max-width: 1024px) and (orientation: landscape) {
                width: calc-rem(200px);
                height: calc-rem(200px);
            }

            @media only screen and (max-width: 667px) and (orientation: landscape) {
                width: calc-rem(150px);
                height: calc-rem(150px);
            }
        }
    }

    &__list {
        @include flex(null, center, flex-start);
        width: 100%;
        max-width: calc-rem(502px);
        max-height: calc-rem(616px);
        overflow: auto;
        margin: 0 auto;
        padding: calc-rem(2px);

        // &::after {
        //     content: "";
        //     flex: auto;
        // }

        @include bp(0, 1366px) {
            padding-left: calc-rem(10px);
        }

        @include bp(0, 1080px) {
            max-height: calc(100vh - (160rem / 16));
            width: 100%;
            padding-left: calc((100% - (288rem / 16)) / 2);
        }

        @include bp(0, 768px) {
            width: calc-rem(462px);
            height: 100%;
            max-height: calc(100vh - (450rem / 16));
            padding: calc-rem(2px) 0;
        }

        @include bp(0, 767px) {
            width: 100%;
            height: 100%;
            max-height: calc(100vh - (440rem / 16));
            padding: calc-rem(2px) 0;
            padding-left: calc((100vw - (288rem / 16)) / 2);
        }

        @media only screen and (max-width: 1024px) and (orientation: landscape) {
            max-height: calc(100vh - (160rem / 16));
            width: 100%;
            max-width: 100%;
            padding-left: calc((100% - (288rem / 16)) / 2);
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
            max-height: calc(100vh - (104rem / 16));
            padding-left: calc((100% - (340rem / 16)) / 2);
        }

        &__item {
            background-color: $color_gray_2;
            @include size(124px, 124px);
            margin-bottom: calc-rem(40px);
            margin-right: calc-rem(40px);
            position: relative;
            @include flex(null, center, center);
            cursor: pointer;

            &.active,
            &:hover {
                &::before {
                    content: "";
                    border: calc-rem(4px) solid $color_green;
                    position: absolute;
                    top: calc-rem(-2px);
                    right: calc-rem(-2px);
                    bottom: calc-rem(-2px);
                    left: calc-rem(-2px);
                    z-index: 901;
                    pointer-events: none;
                }
            }

            p {
                margin: 0;
            }

            .thumb {
                background-size: cover !important;
                border-radius: 0;
                width: 100%;
                bottom: 0;
                left: 0;
                margin-bottom: 0;

                img {
                    width: auto;
                    top: auto;
                    bottom: 0;
                    height: 98%;
                    transform: translate(-50%, 0);
                }
            }

            @include bp(0, 1366px) {
                margin-right: calc-rem(25px);
            }

            // @include bp(0, 1080px) {
            //     margin-right: calc-rem(40px);
            // }

            @media (max-width: 768px) {
                margin-right: calc-rem(40px);
                &:nth-child(2n) {
                    margin-right: calc-rem(40px);
                }
                // &:nth-child(3n) {
                //     margin-right: 0;
                // }
            }

            @include bp(0, 767px) {
                &:nth-child(2n) {
                    margin-right: 0;
                }
                // &:nth-child(3n) {
                //     margin-right: calc-rem(40px);
                // }
            }

            @media only screen and (max-width: 812px) and (orientation: landscape) {
                @include size(100px, 100px);
                margin-right: calc-rem(20px);
                &:nth-child(2n) {
                    margin-right: calc-rem(20px);
                }
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }
    }

    &__button {
        width: 100%;
        margin-top: calc-rem(80px);
        .btn {
            margin: 0 auto;
        }

        @include bp(0, 812px) {
            background: $color_white;
            margin-top: 0;
            position: fixed;
            z-index: 99;
            left: 0;
            bottom: 0;
            padding: calc-rem(20px) calc-rem(20px);
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
            position: relative;
            padding: calc-rem(10px) 0;
            width: 100%;
            max-width: calc-rem(150px);
        }
    }
}