.sidebar {
    &__left {
        border-right: calc-rem(1px) solid $color_gray_5;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;

        @include bp(769px, 0) {
            width: calc-rem(260px);

            .left--sm & {
                width: calc-rem(55px);
                .sidebar__heading,
                .sidebar__menu__item a span {
                    display: none;
                }
                .sidebar__menu__item a {
                    padding: calc-rem(15px);
                    justify-content: center;
                }
                .sidebar__menu__item a i {
                    margin-right: 0;
                }
                .sidebar__collapse {
                    padding: 0;
                    padding-top: calc-rem(10px);
                }
                .btn--collapse span{
                    transform: rotate(180deg);
                }
            }
        }

        @include bp(768px, 1280px) {

        }

        @include bp(0, 812px) {
            background-color: $color_white;
            left: -100%;
            top: calc-rem(60px);
            position: fixed;
            height: calc(100% - 60rem/16);
            overflow: auto;

            &.open{
                left: 0;
                z-index: 999;
            }
        }
    }

    &__right {
        width: 100%;
        @include bp(813px, 0) {
            width: calc-rem(400px);
        }

        .main__dashboard & {
            @include bp(813px, 0) {
                width: calc-rem(260px);
            }
        }

        // @include bp(812px, 1080px) {
        //     width: 100%;
        // }

        &2 {
            width: 100%;
            @include bp(769px, 0) {
                width: calc-rem(400px);
            }

            @include bp(812px, 1080px) {
                width: 100%;
            }
        }
    }

    &__heading {
        padding: calc-rem(10px) calc-rem(20px);

        &--title {
            @include font-size(24, 24);
            font-weight: 300;
        }
    }

    &__menu {
        margin: 0;

        &__item {
            a {
                color: $color_base;
                @include font-size(18, 21);
                font-weight: 300;
                @include flex(null, center, flex-start);
                flex-wrap: nowrap;
                padding: calc-rem(15px) calc-rem(20px);
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;

                &:hover {
                    background-color: $color_gray_2;
                }

                i {
                    margin-right: calc-rem(14px);
                    -webkit-transition: all 0.25s ease;
                    transition: all 0.25s ease;
                }

                span {
                    flex: 1;
                    -webkit-transition: all 0.25s ease;
                    transition: all 0.25s ease;
                }
            }
        }
    }

    &__collapse {
        padding: calc-rem(10px) calc-rem(20px);
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }

    &__button {
        &__gr {
            @include flex(null, center, center);
            width: calc-rem(324px);
            margin: calc-rem(20px) auto 0;

            li {
                width: 50%;
                &:first-child {
                    padding-right: calc-rem(10px);
                }
                &:last-child {
                    padding-left: calc-rem(10px);
                }
            }

            @include bp("sp") {
                width: 100%;
                li {
                    .btn {
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}