.table {
    &__group {
        border: calc-rem(1px) solid $color_gray_5;
        padding: calc-rem(38px) calc-rem(10px) calc-rem(20px) calc-rem(50px);
        
        &:not(:last-child) {
            margin-bottom: calc-rem(20px);
        }

        @include bp("sp") {
            padding: calc-rem(10px) calc-rem(5px) calc-rem(10px) calc-rem(10px);
        }
    }

    &__heading {
        &__title {
            @include font-size(24, 26);
            font-weight: 300;
            text-align: center;
            margin-bottom: calc-rem(30px);

            @include bp("sp") {
                @include font-size(20, 22);
                margin-bottom: calc-rem(20px);
            }
        }
    }

    &__main {
        width: 100%;
        height: calc-rem(300px);
        overflow: auto;
        padding-right: calc-rem(40px);

        @include bp("sp") {
            padding-right: 0;
        }
    }

    &__content {
        width: 100%;
        min-width: calc-rem(567px);
        margin-bottom: 0;
        
        @include bp("sp") {
            min-width: calc-rem(567px);
            padding-right: calc-rem(5px);
        }

        p {
            margin-bottom: 0;
        }

        tr {
            &:not(:last-child) {
                border-bottom: calc-rem(1px) solid $color_gray_5;
            }
        }

        th,
        td {
            padding: calc-rem(10px) 0;
            text-align: left;
            word-break: break-word;

            &:not(:last-child) {
                padding-right: calc-rem(10px);
            }

            &:first-child {
                width: 31.865%;
            }

            &:nth-child(2),
            &:nth-child(3) {
                width: 26.2418%;
            }

            @include bp("sp") {
                padding: calc-rem(6px) 0;
                &:not(:last-child) {
                    padding-right: calc-rem(6px);
                }

                padding-right: calc-rem(6px);
            }
        }

        th {
            @include font-size(18, 24);
            font-weight: 500;
        }

        td {
            @include font-size(16, 24);
            font-weight: 300;
            min-height: calc-rem(61px);
        }
    }
}
