/* ==========================================================================
   #Thumbnail
   ========================================================================== */
.thumb {
    background: $color_gray_2;
    position: relative;
    height: 0;
    display: block;
    overflow: hidden;
    background-size: cover !important;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        object-position: center;
    }

    &--1x1 {
        padding-bottom: 100%;
    }

    &--active {
        background: $color_green_light;

        &:hover {
            background: $color_green_light2;
        }
    }
}
